{% extends 'admin/baseAdmin.html.twig' %}

{% block body %}
    <section class="user-profile">
        <div class="">
            {{ form_start(userForm, {'method': 'POST'}) }}
                <div class="row">
                    <div class="col-lg-6 m-middle">
                        <div class="form-group col-md-12 col-lg-12 wow fadeInUp animated text-center">
                            <label for="user_imgPath"><img class="img-fluid rounded" width="250" height="400" src="{{ asset(file_exist(userImg)) }}"></label>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group col-md-12 col-lg-12 wow fadeInUp animated">
                            {{ form_row(userForm.firstname) }}
                        </div>
                        <div class="form-group col-md-12 col-lg-12 wow fadeInUp animated">
                            {{ form_row(userForm.lastname) }}
                        </div>
                        <div class="form-group col-md-12 col-lg-12 wow fadeInUp animated">
                            {{ form_row(userForm.email) }}
                        </div>
                        <div class="form-group col-md-12 col-lg-12 wow fadeInUp animated">
                            {{ form_row(userForm.login, {"attr": {"readonly": "true"}}) }}
                        </div>
                        <div class="form-group col-md-12 col-lg-12 wow fadeInUp animated">
                            {{ form_row(userForm.password) }}
                        </div>
                        <div class="form-group col-md-12 col-lg-12 wow fadeInUp animated">
                            {{ form_row(userForm.confirmPassword) }}
                        </div>
                        <div class="form-group col-md-12 col-lg-12 wow fadeInUp animated" hidden>
                            {{ form_row(userForm.imgPath) }}
                        </div>
                        <div class="form-group col-md-12 col-lg-12 wow fadeInUp animated text-center" >
                            {{ form_row(userForm.submit) }}
                        </div>
                    </div>
                </div>
            {{ form_end(userForm, {'method': 'POST'}) }}
        </div>
    </section>
{% endblock %}