{% extends 'user/baseUser.html.twig' %}

{% block body %}
    <section class="home">
        <div class="home-content">
            <div class="row">
                <div class="col-md-12">
                    <div class="livingThing-card">
                        <div class="livingThing-card-header">
                            <span class="livingThing-card-title">Living Thing</span>
                        </div>
                        <div class="livingThing-card-body">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="livingThing-box">
                                        <div class="livingThing-box-header">
                                            <span class="card-title">Animals</span>
                                        </div>
                                        <div class="livingThing-box-body">
                                            <p class="card-text">{{ nbrAnimalia }}</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="livingThing-box">
                                        <div class="livingThing-box-header">
                                            <span class="card-title">Plants</span>
                                        </div>
                                        <div class="livingThing-box-body">
                                            <p class="card-text">{{ nbrPlantae }}</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="livingThing-box">
                                        <div class="livingThing-box-header">
                                            <span class="card-title">Insects</span>
                                        </div>
                                        <div class="livingThing-box-body">
                                            <p class="card-text">{{ nbrInsecta }}</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="livingThing-box">
                                        <div class="livingThing-box-header">
                                            <span class="card-title">Bacteria</span>
                                        </div>
                                        <div class="livingThing-box-body">
                                            <p class="card-text">{{ nbrBacteria }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="recent-activity-card">
                        <div class="recent-activity-card-header">
                            <span class="recent-activity-card-title">Recent Activity</span>
                        </div>
                        <div class="recent-activity-card-body">
                            <div class="post">
                                <div class="post-content">
                                    <div class="post-header">
                                        <span class="post-title">Article Title</span>
                                    </div>
                                    <div class="post-body">
                                        <span class="post-text">Created at 10-12-2019 00:12:20</span>
                                    </div>
                                </div>
                            </div>

                            <div class="post">
                                <div class="post-content">
                                    <div class="post-header">
                                        <span class="post-title">Article Title</span>
                                    </div>
                                    <div class="post-body">
                                        <span class="post-text">Created at 10-12-2019 00:12:20</span>
                                    </div>
                                </div>
                            </div>

                            <div class="post">
                                <div class="post-content">
                                    <div class="post-header">
                                        <span class="post-title">Article Title</span>
                                    </div>
                                    <div class="post-body">
                                        <span class="post-text">Created at 10-12-2019 00:12:20</span>
                                    </div>
                                </div>
                            </div>

                            <div class="post">
                                <div class="post-content">
                                    <div class="post-header">
                                        <span class="post-title">Article Title</span>
                                    </div>
                                    <div class="post-body">
                                        <span class="post-text">Created at 10-12-2019 00:12:20</span>
                                    </div>
                                </div>
                            </div>

                            <div class="post-button">
                                <a class="btn btn-custom-blue" href="{{ path('userArticle') }}"><span>See More</span></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="notification-card">
                        <div class="notification-card-header">
                            <span class="notification-card-title">Notifications</span>
                        </div>
                        <div class="notification-card-body">
                            <div class="post">
                                <div class="post-content">
                                    <div class="post-header">
                                        <span class="post-title">Your publication has been accepted by the taff</span>
                                    </div>
                                    <div class="post-body">
                                        <span class="post-text">Created at 10-12-2019 00:12:20</span>
                                    </div>
                                </div>
                            </div>

                            <div class="post">
                                <div class="post-content">
                                    <div class="post-header">
                                        <span class="post-title">New Article - Stage 3 enterred</span>
                                    </div>
                                    <div class="post-body">
                                        <span class="post-text">Created at 10-12-2019 00:12:20</span>
                                    </div>
                                </div>
                            </div>

                            <div class="post">
                                <div class="post-content">
                                    <div class="post-header">
                                        <span class="post-title">New Article - Stage 2 enterred</span>
                                    </div>
                                    <div class="post-body">
                                        <span class="post-text">Created at 10-12-2019 00:12:20</span>
                                    </div>
                                </div>
                            </div>

                            <div class="post">
                                <div class="post-content">
                                    <div class="post-header">
                                        <span class="post-title">Thanks you for your contribution. We'll check it and inform you.</span>
                                    </div>
                                    <div class="post-body">
                                        <span class="post-text">Created at 10-12-2019 00:12:20</span>
                                    </div>
                                </div>
                            </div>

                            <div class="post-button">
                                <a class="btn btn-custom-blue" href="{{ path('userNotifs') }}"><span>See More</span></a>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="col-md-6">
                    <div class="recent-conversation-card">
                        <div class="recent-conversation-card-header">
                            <span class="recent-conversation-card-title">Recent Conversation</span>
                        </div>
                        <div class="recent-conversation-card-body">
                            <div class="post">
                                <div class="post-avatar">
                                    <img class="img-fluid" src="{{ asset('content/users/avatar.png') }}" alt="">
                                </div>
                                <div class="post-content">
                                    <div class="post-header">
                                        <span class="post-title">John Dupont</span>
                                    </div>
                                    <div class="post-body">
                                        <span class="post-text">Hello Garry, are you fine ?</span>
                                    </div>
                                </div>
                            </div>

                            <div class="post">
                                <div class="post-avatar">
                                    <img class="img-fluid" src="{{ asset('content/users/avatar.png') }}" alt="">
                                </div>
                                <div class="post-content">
                                    <div class="post-header">
                                        <span class="post-title">Jorge Johnson</span>
                                    </div>
                                    <div class="post-body">
                                        <span class="post-text">Yeah, i loved this documentary !</span>
                                    </div>
                                </div>
                            </div>

                            <div class="post">
                                <div class="post-avatar">
                                    <img class="img-fluid" src="{{ asset('content/users/avatar.png') }}" alt="">
                                </div>
                                <div class="post-content">
                                    <div class="post-header">
                                        <span class="post-title">Mack Lamy</span>
                                    </div>
                                    <div class="post-body">
                                        <span class="post-text">Hey commoner, stop ignoring me and answer me !</span>
                                    </div>
                                </div>
                            </div>

                            <div class="post">
                                <div class="post-avatar">
                                    <img class="img-fluid" src="{{ asset('content/users/avatar.png') }}" alt="">
                                </div>
                                <div class="post-content">
                                    <div class="post-header">
                                        <span class="post-title">Florian Lopez</span>
                                    </div>
                                    <div class="post-body">
                                        <span class="post-text">Hello Garry, can you help me, please ?</span>
                                    </div>
                                </div>
                            </div>

                            <div class="post-button">
                                <a class="btn btn-custom-blue" href="#"><span>See More</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
