{% extends 'anonymous/baseAnonymous.html.twig' %}

{% block body %}
    <section class="livingThing">
        <div class="container">
            {% if livingThing != [] %}
                {% for oneLivingThing in livingThing %}
                    <li class="media">
                        <div class="media-header">
                            <img class="img-fuild" src="{{ asset(file_exist(oneLivingThing.idLivingThing.imgPath)) }}" alt="{{ oneLivingThing.title }}">
                        </div>
                        <div class="media-body">
                            <h5 class="media-body-title">{{ oneLivingThing.title }}</h5>
                            <a class="btn btn-outline-secondary" href="{{ path("articleLivingThingById", {"name": name, "id": oneLivingThing.idLivingThing.id }) }}">See Article</a>
                        </div>
                    </li>
                {% endfor %}

                {# Pagination #}
                {% if offset > 1 and offset <= nbrOffset %}
                    <div class="pagination">
                        <div class="pagination-links">
                            <a href="{{ path('articleLivingThing', {'name': name, 'offset': 1}) }}"><i class="fas fa-angle-double-left"></i></a>
                        
                            {% if offset - 1 >= 1 %}
                                <a class="" href="{{ path('articleLivingThing', {'name': name, 'offset': offset - 1}) }}">{{ offset - 1 }}</a>
                            {% endif %}

                            <a class="active" href="{{ path('articleLivingThing', {'name': name, 'offset': offset}) }}"><span>{{ offset }}</span></a>
                            
                            {% if offset + 1 <= nbrOffset %}
                                <a class="" href="{{ path('articleLivingThing', {'name': name, 'offset': offset + 1}) }}">{{ offset + 1 }}</a>
                            {% endif %}
                            
                            <a href="{{ path('articleLivingThing', {'name': name, 'offset': nbrOffset}) }}"><i class="fas fa-angle-double-right"></i></a>
                        </div>
                    </div>
                {% endif %}
            {% else %}
                <li>No {% name %} has been found.</li>
            {% endif %}
        </div>
    </section>
{% endblock %}
