{% extends 'anonymous/baseAnonymous.html.twig' %}

{% block body %}
    <section class="articleLivingThing">
        {# <div class="container"> #}
            <div class="articleLivingThing-single">

                {# Left Content #}
                <div class="articleLivingThing-single-left">
                    <div class="wikiearth-header">
                        <div class="wikiearth-header-logo">
                            <img class="img-fluid" src="{{ asset('content/img/logo/world.png') }}" alt="WikiEarth">
                        </div>
                        <div class="wikiearth-header-content">
                            <span class="wikiearth-header-title">GemEarth</span>
                            <p class="wikiearth-header-text">The encyclopedia on the Earth</p>
                        </div>
                    </div>
                    <div class="subLink">
                        <ul>
                            <li class="title">Contents</li>

                            {% if article.articleLivingThing.geography != null %}
                                <li class="subLink-item"><a href="#geography">Geography</a></li>
                            {% endif %}

                            {% if article.articleLivingThing.ecology != null %}
                                <li class="subLink-item"><a href="#ecology">Ecology</a></li>
                            {% endif %}

                            {% if article.articleLivingThing.behaviour != null %}
                                <li class="subLink-item"><a href="#behaviour">Behaviour</a></li>
                            {% endif %}

                            {% if article.articleLivingThing.wayOfLife != null %}
                                <li class="subLink-item"><a href="#wayOfLife">Way of life</a></li>
                            {% endif %}

                            {% if article.articleLivingThing.description != null %}
                                <li class="subLink-item"><a href="#description">Description</a></li>
                            {% endif %}

                            {% if article.articleLivingThing.otherData != null %}
                                <li class="subLink-item"><a href="#otherData">Other Data</a></li>
                            {% endif %}

                            {% if mediaGallery != [] %}
                                <li class="subLink-item"><a href="#photo">Photos</a></li>
                            {% endif %}

                            {% if references != [] %}
                                <li class="subLink-item"><a href="#references">References</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>

                {# Center Content #}
                <div class="articleLivingThing-single-center">
                    <div class="post">
                        <h1 class="post-title">{{ article.articleLivingThing.title }}</h1>

                        <div class="post-content">
                            {% if article.articleLivingThing.geography != null %}
                                <div class="post-content-section" id="geography">
                                    <h3 class="post-content-section-title">Geography</h3>

                                    {# Geography #}
                                    <div class="post-content-section-content">
                                        {% for oneGeography in article.articleLivingThing.geography %}
                                            <div class="section-content">
                                                <div class="title">
                                                    <span>{{ oneGeography.sub_title }}</span>
                                                </div>
                                                <div class="content">
                                                    <p>{{ oneGeography.sub_content }}</p>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            {% endif %}

                            {# Ecology #}
                            {% if article.articleLivingThing.ecology != null %}
                                <div class="post-content-section" id="ecology">
                                    <h3 class="post-content-section-title">Ecology</h3>

                                    <div class="post-content-section-content">
                                        {% for oneEcology in article.articleLivingThing.ecology %}
                                            <div class="section-content">
                                                <div class="title">
                                                    <span>{{ oneEcology.sub_title }}</span>
                                                </div>
                                                <div class="content">
                                                    <span>{{ oneEcology.sub_content }}</span>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            {% endif %}

                            {# Behaviour #}
                            {% if article.articleLivingThing.behaviour != null %}
                                <div class="post-content-section" id="behaviour">
                                    <h3 class="post-content-section-title">Behaviour</h3>

                                    <div class="post-content-section-content">
                                        {% for oneBehaviour in article.articleLivingThing.behaviour %}
                                            <div class="section-content">
                                                <div class="title">
                                                    <span>{{ oneBehaviour.sub_title }}</span>
                                                </div>
                                                <div class="content">
                                                    <p>{{ oneBehaviour.sub_content }}</p>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            {% endif %}

                            {# Way of Life #}
                            {% if article.articleLivingThing.wayOfLife != null %}
                                <div class="post-content-section" id="wayOfLife">
                                    <h3 class="post-content-section-title">Way of Life</h3>

                                    <div class="post-content-section-content">
                                        {% for oneWayOfLife in article.articleLivingThing.wayOfLife %}
                                            <div class="section-content">
                                                <div class="title">
                                                    <span>{{ oneWayOfLife.sub_title }}</span>
                                                </div>
                                                <div class="content">
                                                    <p>{{ oneWayOfLife.sub_content }}</p>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            {% endif %}

                            {# Description #}
                            {% if article.articleLivingThing.description != null %}
                                <div class="post-content-section" id="description">
                                    <h3 class="post-content-section-title">Description</h3>

                                    <div class="post-content-section-content">
                                        {% for oneDescription in article.articleLivingThing.description %}
                                            <div class="section-content">
                                                <div class="title">
                                                    <span>{{ oneDescription.sub_title }}</span>
                                                </div>
                                                <div class="content">
                                                    <p>{{ oneDescription.sub_content }}</p>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            {% endif %}

                            {# Other Information #}
                            {% if article.articleLivingThing.otherData != null %}
                                <div class="post-content-section" id="otherData">
                                    <h3 class="post-content-section-title">Other Data</h3>

                                    <div class="post-content-section-content">
                                        {% for oneOtherData in article.articleLivingThing.otherData %}
                                            <div class="section-content">
                                                <div class="title">
                                                    <span>{{ oneOtherData.sub_title }}</span>
                                                </div>
                                                <div class="content">
                                                    <p>{{ oneOtherData.sub_content }}</p>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            {% endif %}

                            {# Media Gallery Photo #}
                            {% if mediaGallery != [] %}
                                <div class="post-content-section" id="photo">
                                    <h3 class="post-content-section-title">Photos</h3>

                                    <div class="post-content-section-content">
                                        {% for oneMedia in mediaGallery %}
                                            {% if file_exist(oneMedia.path, false) != "" %}
                                                <div class="section-content">
                                                    <img src="{{ asset(oneMedia.path) }}" />
                                                </div>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                            {% endif %}

                            {# References / Sources #}
                            {% if references != [] %}
                                <div class="post-content-section" id="references">
                                    <div class="post-content-section-title">
                                        <h3>References</h3>
                                    </div>

                                    <div class="post-content-section-content">
                                        {% for oneReferences in references %}
                                            <li><a href="{{ oneReferences.link }}">{{ oneReferences.name }}</a></li>
                                        {% endfor %}
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>

                {# Right Content #}
                <div class="articleLivingThing-single-right">
                    <div class="articleLivingThing-livingThing">
                        <div class="livingThing-img">
                            <img class="img-fluid" src="{{ asset(file_exist(article.articleLivingThing.livingThing.imgPath)) }}" alt="{{ article.title }}">
                        </div>

                        <div class="livingThing-content">
                            <div>&nbsp;<div>
                            <table>
                                {% if article.articleLivingThing.livingThing.domain != null %}
                                    <tr>
                                        <td>Domain</td>
                                        <td>{{ article.articleLivingThing.livingThing.domain }}</td>
                                    </tr>
                                {% endif %}

                                {% if article.articleLivingThing.livingThing.kingdom != null %}
                                    <tr>
                                        <td>Kingdom</td>
                                        <td>{{ article.articleLivingThing.livingThing.kingdom }}</td>
                                    </tr>
                                {% endif %}

                                {% if article.articleLivingThing.livingThing.subKingdom != null %}
                                    <tr>
                                        <td>Sub Kingdom</td>
                                        <td>{{ article.articleLivingThing.livingThing.subKingdom }}</td>
                                    </tr>
                                {% endif %}

                                {% if article.articleLivingThing.livingThing.branch != null %}
                                    <tr>
                                        <td>Branch</td>
                                        <td>{{ article.articleLivingThing.livingThing.branch }}</td>
                                    </tr>
                                {% endif %}

                                {% if article.articleLivingThing.livingThing.subBranch != null %}
                                    <tr>
                                        <td>Sub Branch</td>
                                        <td>{{ article.articleLivingThing.livingThing.subBranch }}</td>
                                    </tr>
                                {% endif %}

                                {% if article.articleLivingThing.livingThing.infraBranch != null %}
                                    <tr>
                                        <td>Infra Branch</td>
                                        <td>{{ article.articleLivingThing.livingThing.infraBranch }}</td>
                                    </tr>
                                {% endif %}

                                {% if article.articleLivingThing.livingThing.division != null %}
                                    <tr>
                                        <td>Division</td>
                                        <td>{{ article.articleLivingThing.livingThing.division }}</td>
                                    </tr>
                                {% endif %}

                                {% if article.articleLivingThing.livingThing.superClass != null %}
                                    <tr>
                                        <td>Super Class</td>
                                        <td>{{ article.articleLivingThing.livingThing.superClass }}</td>
                                    </tr>
                                {% endif %}

                                {% if article.articleLivingThing.livingThing.class != null %}
                                    <tr>
                                        <td>Class</td>
                                        <td>{{ article.articleLivingThing.livingThing.class }}</td>
                                    </tr>
                                {% endif %}
                                
                                {% if article.articleLivingThing.livingThing.subClass != null %}
                                    <tr>
                                        <td>Sub Class</td>
                                        <td>{{ article.articleLivingThing.livingThing.subClass }}</td>
                                    </tr>
                                {% endif %}

                                {% if article.articleLivingThing.livingThing.infraClass != null %}
                                    <tr>
                                        <td>Infra Class</td>
                                        <td>{{ article.articleLivingThing.livingThing.infraClass }}</td>
                                    </tr>
                                {% endif %}

                                {% if article.articleLivingThing.livingThing.superOrder != null %}
                                    <tr>
                                        <td>Super Order</td>
                                        <td>{{ article.articleLivingThing.livingThing.superOrder }}</td>
                                    </tr>
                                {% endif %}

                                {% if article.articleLivingThing.livingThing.normalOrder != null %}
                                    <tr>
                                        <td>Order</td>
                                        <td>{{ article.articleLivingThing.livingThing.normalOrder }}</td>
                                    </tr>
                                {% endif %}

                                {% if article.articleLivingThing.livingThing.subOrder != null %}
                                    <tr>
                                        <td>Sub Order</td>
                                        <td>{{ article.articleLivingThing.livingThing.subOrder }}</td>
                                    </tr>
                                {% endif %}
                            
                                {% if article.articleLivingThing.livingThing.infraOrder != null %}
                                    <tr>
                                        <td>Infra Order</td>
                                        <td>{{ article.articleLivingThing.livingThing.infraOrder }}</td>
                                    </tr>
                                {% endif %}

                                {% if article.articleLivingThing.livingThing.microOrder != null %}
                                    <tr>
                                        <td>Micro Order</td>
                                        <td>{{ article.articleLivingThing.livingThing.microOrder }}</td>
                                    </tr>
                                {% endif %}

                                {% if article.articleLivingThing.livingThing.superFamily != null %}
                                    <tr>
                                        <td>Super Family</td>
                                        <td>{{ article.articleLivingThing.livingThing.superFamily }}</td>
                                    </tr>
                                {% endif %}

                                {% if article.articleLivingThing.livingThing.family != null %}
                                    <tr>
                                        <td>Family</td>
                                        <td>{{ article.articleLivingThing.livingThing.family }}</td>
                                    </tr>
                                {% endif %}

                                {% if article.articleLivingThing.livingThing.subFamily != null %}
                                    <tr>
                                        <td>Sub Family</td>
                                        <td>{{ article.articleLivingThing.livingThing.subFamily }}</td>
                                    </tr>
                                {% endif %}

                                {% if article.articleLivingThing.livingThing.genus != null %}
                                    <tr>
                                        <td>Genus</td>
                                        <td>{{ article.articleLivingThing.livingThing.genus }}</td>
                                    </tr>
                                {% endif %}

                                {% if article.articleLivingThing.livingThing.subGenus != null %}
                                    <tr>
                                        <td>Sub Genus</td>
                                        <td>{{ article.articleLivingThing.livingThing.subGenus }}</td>
                                    </tr>
                                {% endif %}

                                {% if article.articleLivingThing.livingThing.species != null %}
                                    <tr>
                                        <td>Species</td>
                                        <td>{{ article.articleLivingThing.livingThing.species }}</td>
                                    </tr>
                                {% endif %}
                                
                                {% if article.articleLivingThing.livingThing.subSpecies != null %}
                                    <tr>
                                        <td>Sub Species</td>
                                        <td>{{ article.articleLivingThing.livingThing.subSpecies }}</td>
                                    </tr>
                                {% endif %}
                                
                                {% if countries != [] %}
                                    <tr>
                                        <td style="vertical-align: top;">Countries</td>
                                        <td>
                                            {% for oneCountries in countries %}
                                                <li><a href="{{ path('countryArticle', {'country': oneCountries.treatedCountryName}) }}">{{ oneCountries.name }}</a></li>
                                            {% endfor %}
                                        </td>
                                    </tr>
                                {% endif %}
                            </table>

                            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                {% if is_granted('ROLE_USER') %}
                                    <a class="btn btn-success" href="{{ path('userEditArticle', {('category': 'living-thing', 'id': article.id}) }}"><i class="far fa-edit"></i></a>
                                {% else %}
                                    <a class="btn btn-success" href="{{ path('adminEditArticleByCategory', {'category': 'living-thing', 'id': article.id}) }}"><i class="far fa-edit"></i></a>
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        {# </div> #}
    </section>
{% endblock %}