{% extends 'anonymous/baseAnonymous.html.twig' %}

{% block body %}
    <section class="articleLivingThing">
        {# <div class="container"> #}
            <div class="articleLivingThing-single">

                {# Left Content #}
                <div class="articleLivingThing-single-left">
                    <div class="wikiearth-header">
                        <div class="wikiearth-header-logo">
                            <img class="img-fluid" src="{{ asset('content/img/logo/world.png') }}" alt="WikiEarth">
                        </div>
                        <div class="wikiearth-header-content">
                            <span class="wikiearth-header-title">WikiEarth</span>
                            <p class="wikiearth-header-text">The encyclopedia on the Earth</p>
                        </div>
                    </div>
                    <div class="subLink">
                        <ul>
                            <li class="title">Contents</li>
                            <li class="subLink-item"><a href="#geography">Geography</a></li>
                            <li class="subLink-item"><a href="#ecology">Ecology</a></li>
                            <li class="subLink-item"><a href="#behaviour">Behaviour</a></li>
                            <li class="subLink-item"><a href="#wayOfLife">Way of life</a></li>
                            <li class="subLink-item"><a href="#description">Description</a></li>
                            <li class="subLink-item"><a href="#otherData">Other Data</a></li>
                            <li class="subLink-item"><a href="#photo">Photos</a></li>
                            <li class="subLink-item"><a href="#references">References</a></li>
                        </ul>
                    </div>
                </div>

                {# Center Content #}
                <div class="articleLivingThing-single-center">
                    <div class="post">
                        <h1 class="post-title">{{ livingThing.title }}</h1>

                        <div class="post-content">
                            <div class="post-content-geography" id="geography">
                                <h3 class="post-content-geography-title">Geography</h3>

                                {# Geography #}
                                <div class="post-content-geography-content">
                                    {% if livingThing.geography != null %}
                                        {% for oneGeography in livingThing.geography %}
                                            <div class="geography-content">
                                                <div class="title">
                                                    <span>{{ oneGeography.sub_title }}</span>
                                                </div>
                                                <div class="content">
                                                    <p>{{ oneGeography.sub_content }}</p>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            </div>

                            {# Ecology #}
                            <div class="post-content-ecology" id="ecology">
                                <h3 class="post-content-ecology-title">Ecology</h3>

                                <div class="post-content-ecology-content">
                                    {% if livingThing.ecology != null %}
                                        {% for oneEcology in livingThing.ecology %}
                                            <div class="ecology-content">
                                                <div class="title">
                                                    <span>{{ oneEcology.sub_title }}</span>
                                                </div>
                                                <div class="content">
                                                    <span>{{ oneEcology.sub_content }}</span>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            </div>

                            {# Behaviour #}
                            <div class="post-content-behaviour" id="behaviour">
                                <h3 class="post-content-behaviour-title">Behaviour</h3>

                                <div class="post-content-behaviour-content">
                                    {% if livingThing.behaviour != null %}
                                        {% for oneBehaviour in livingThing.behaviour %}
                                            <div class="behaviour-content">
                                                <div class="title">
                                                    <span>{{ oneBehaviour.sub_title }}</span>
                                                </div>
                                                <div class="content">
                                                    <p>{{ oneBehaviour.sub_content }}</p>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            </div>

                            {# Way of Life #}
                            <div class="post-content-wayOfLife" id="wayOfLife">
                                <h3 class="post-content-wayOfLife-title">Way of Life</h3>

                                <div class="post-content-wayOfLife-content">
                                    {% if livingThing.wayOfLife != null %}
                                        {% for oneWayOfLife in livingThing.wayOfLife %}
                                            <div class="wayOfLife-content">
                                                <div class="title">
                                                    <span>{{ oneWayOfLife.sub_title }}</span>
                                                </div>
                                                <div class="content">
                                                    <p>{{ oneWayOfLife.sub_content }}</p>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            </div>

                            {# Description #}
                            <div class="post-content-description" id="description">
                                <h3 class="post-content-description-title">Description</h3>

                                <div class="post-content-description-content">
                                    {% if livingThing.description != null %}
                                        {% for oneDescription in livingThing.description %}
                                            <div class="description-content">
                                                <div class="title">
                                                    <span>{{ oneDescription.sub_title }}</span>
                                                </div>
                                                <div class="content">
                                                    <p>{{ oneDescription.sub_content }}</p>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            </div>

                            {# Other Information #}
                            <div class="post-content-otherData" id="otherData">
                                <h3 class="post-content-otherData-title">Other Data</h3>

                                <div class="post-content-otherData-content">
                                    {% if livingThing.otherData != null %}
                                        {% for oneOtherData in livingThing.otherData %}
                                            <div class="otherData-content">
                                                <div class="title">
                                                    <span>{{ oneOtherData.sub_title }}</span>
                                                </div>
                                                <div class="content">
                                                    <p>{{ oneOtherData.sub_content }}</p>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            </div>

                            {# Media Gallery Photo
                            <div class="post-content-mediaGallery" id="references">
                                <div class="post-content-mediaGallery-title">
                                    <h3>Media Gallery Photo</h3>
                                </div>

                                <div class="post-content-mediaGallery-content"></div>
                            </div> #}
                        </div>
                    </div>
                </div>

                {# Right Content #}
                <div class="articleLivingThing-single-right">
                    <div class="articleLivingThing-livingThing">
                        <div class="livingThing-img">
                            <img class="img-fluid" src="{{ asset(file_exist(livingThing.idLivingThing.imgPath)) }}" alt="{{ livingThing.idLivingThing.name }}">
                        </div>

                        <div class="livingThing-content">
                            {% if livingThing.idLivingThing.domain != null %}
                                <li>Domain : {{ livingThing.idLivingThing.domain }}</li>
                            {% endif %}

                            {% if livingThing.idLivingThing.kingdom != null %}
                                <li>Kingdom : {{ livingThing.idLivingThing.kingdom }}</li>
                            {% endif %}

                            {% if livingThing.idLivingThing.subKingdom != null %}
                                <li>Sub Kingdom : {{ livingThing.idLivingThing.subKingdom }}</li>
                            {% endif %}

                            {% if livingThing.idLivingThing.branch != null %}
                                <li>Branch : {{ livingThing.idLivingThing.branch }}</li>
                            {% endif %}
                            
                            {% if livingThing.idLivingThing.subBranch != null %}
                                <li>Sub Branch : {{ livingThing.idLivingThing.subBranch }}</li>
                            {% endif %}

                            {% if livingThing.idLivingThing.infraBranch != null %}
                                <li>Infra Branch : {{ livingThing.idLivingThing.infraBranch }}</li>
                            {% endif %}
                                
                            {% if livingThing.idLivingThing.division != null %}
                                <li>Division : {{ livingThing.idLivingThing.division }}</li>
                            {% endif %}

                            {% if livingThing.idLivingThing.superClass != null %}
                                <li>Super Class : {{ livingThing.idLivingThing.superClass }}</li>
                            {% endif %}

                            {% if livingThing.idLivingThing.class != null %}
                                <li>Class : {{ livingThing.idLivingThing.class }}</li>
                            {% endif %}

                            {% if livingThing.idLivingThing.subClass != null %}
                                <li>Sub Class : {{ livingThing.idLivingThing.subClass }}</li>
                            {% endif %}

                            {% if livingThing.idLivingThing.infraClass != null %}
                                <li>Infra Class : {{ livingThing.idLivingThing.infraClass }}</li>
                            {% endif %}

                            {% if livingThing.idLivingThing.superOrder != null %}
                                <li>Super Order : {{ livingThing.idLivingThing.superOrder }}</li>
                            {% endif %}

                            {% if livingThing.idLivingThing.normalOrder != null %}
                                <li>Order : {{ livingThing.idLivingThing.normalOrder }}</li>
                            {% endif %}

                            {% if livingThing.idLivingThing.subOrder != null %}
                                <li>Sub Order : {{ livingThing.idLivingThing.subOrder }}</li>
                            {% endif %}
                            
                            {% if livingThing.idLivingThing.infraOrder != null %}
                                <li>Infra Order : {{ livingThing.idLivingThing.infraOrder }}</li>
                            {% endif %}

                            {% if livingThing.idLivingThing.microOrder != null %}
                                <li>Micro Order : {{ livingThing.idLivingThing.microOrder }}</li>
                            {% endif %}

                            {% if livingThing.idLivingThing.superFamily != null %}
                                <li>Super Family : {{ livingThing.idLivingThing.superFamily }}</li>
                            {% endif %}

                            {% if livingThing.idLivingThing.family != null %}
                                <li>Family : {{ livingThing.idLivingThing.family }}</li>
                            {% endif %}

                            {% if livingThing.idLivingThing.subFamily != null %}
                                <li>Sub Family : {{ livingThing.idLivingThing.subFamily }}</li>
                            {% endif %}

                            {% if livingThing.idLivingThing.genus != null %}
                                <li>Genus : {{ livingThing.idLivingThing.genus }}</li>
                            {% endif %}

                            {% if livingThing.idLivingThing.subGenus != null %}
                                <li>Sub Genus : {{ livingThing.idLivingThing.subGenus }}</li>
                            {% endif %}

                            {% if livingThing.idLivingThing.species != null %}
                                <li>Species : {{ livingThing.idLivingThing.species }}</li>
                            {% endif %}

                            {% if livingThing.idLivingThing.subSpecies != null %}
                                <li>Sub Species : {{ livingThing.idLivingThing.subSpecies }}</li>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        {# </div> #}
    </section>
{% endblock %}