{% extends 'anonymous/baseAnonymous.html.twig' %}

{% block body %}
    <section class="articleLivingThing">
        {# <div class="container"> #}
            <div class="articleLivingThing-single">

                {# Left Content #}
                <div class="articleLivingThing-single-left">
                    <div class="wikiearth-header">
                        <div class="wikiearth-header-logo">
                            <img class="img-fluid" src="{{ asset('content/img/logo/world.png') }}" alt="WikiEarth">
                        </div>
                        <div class="wikiearth-header-content">
                            <span class="wikiearth-header-title">GemEarth</span>
                            <p class="wikiearth-header-text">The encyclopedia on the Earth</p>
                        </div>
                    </div>
                    <div class="subLink">
                        <ul>
                            <li class="title">Contents</li>

                            {% if livingThing.geography != null %}
                                <li class="subLink-item"><a href="#geography">Geography</a></li>
                            {% endif %}

                            {% if livingThing.ecology != null %}
                                <li class="subLink-item"><a href="#ecology">Ecology</a></li>
                            {% endif %}

                            {% if livingThing.behaviour != null %}
                                <li class="subLink-item"><a href="#behaviour">Behaviour</a></li>
                            {% endif %}

                            {% if livingThing.wayOfLife != null %}
                                <li class="subLink-item"><a href="#wayOfLife">Way of life</a></li>
                            {% endif %}

                            {% if livingThing.description != null %}
                                <li class="subLink-item"><a href="#description">Description</a></li>
                            {% endif %}

                            {% if livingThing.otherData != null %}
                                <li class="subLink-item"><a href="#otherData">Other Data</a></li>
                            {% endif %}

                            {% if mediaGallery != [] %}
                                <li class="subLink-item"><a href="#photo">Photos</a></li>
                            {% endif %}

                            {% if references != [] %}
                                <li class="subLink-item"><a href="#references">References</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>

                {# Center Content #}
                <div class="articleLivingThing-single-center">
                    <div class="post">
                        <h1 class="post-title">{{ livingThing.title }}</h1>

                        <div class="post-content">
                            {% if livingThing.geography != null %}
                                <div class="post-content-geography" id="geography">
                                    <h3 class="post-content-geography-title">Geography</h3>

                                    {# Geography #}
                                    <div class="post-content-geography-content">
                                        {% for oneGeography in livingThing.geography %}
                                            <div class="geography-content">
                                                <div class="title">
                                                    <span>{{ oneGeography.sub_title }}</span>
                                                </div>
                                                <div class="content">
                                                    <p>{{ oneGeography.sub_content }}</p>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            {% endif %}

                            {# Ecology #}
                            {% if livingThing.ecology != null %}
                                <div class="post-content-ecology" id="ecology">
                                    <h3 class="post-content-ecology-title">Ecology</h3>

                                    <div class="post-content-ecology-content">
                                        {% for oneEcology in livingThing.ecology %}
                                            <div class="ecology-content">
                                                <div class="title">
                                                    <span>{{ oneEcology.sub_title }}</span>
                                                </div>
                                                <div class="content">
                                                    <span>{{ oneEcology.sub_content }}</span>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            {% endif %}

                            {# Behaviour #}
                            {% if livingThing.behaviour != null %}
                                <div class="post-content-behaviour" id="behaviour">
                                    <h3 class="post-content-behaviour-title">Behaviour</h3>

                                    <div class="post-content-behaviour-content">
                                        {% for oneBehaviour in livingThing.behaviour %}
                                            <div class="behaviour-content">
                                                <div class="title">
                                                    <span>{{ oneBehaviour.sub_title }}</span>
                                                </div>
                                                <div class="content">
                                                    <p>{{ oneBehaviour.sub_content }}</p>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            {% endif %}

                            {# Way of Life #}
                            {% if livingThing.wayOfLife != null %}
                                <div class="post-content-wayOfLife" id="wayOfLife">
                                    <h3 class="post-content-wayOfLife-title">Way of Life</h3>

                                    <div class="post-content-wayOfLife-content">
                                        {% for oneWayOfLife in livingThing.wayOfLife %}
                                            <div class="wayOfLife-content">
                                                <div class="title">
                                                    <span>{{ oneWayOfLife.sub_title }}</span>
                                                </div>
                                                <div class="content">
                                                    <p>{{ oneWayOfLife.sub_content }}</p>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            {% endif %}

                            {# Description #}
                            {% if livingThing.description != null %}
                                <div class="post-content-description" id="description">
                                    <h3 class="post-content-description-title">Description</h3>

                                    <div class="post-content-description-content">
                                        {% for oneDescription in livingThing.description %}
                                            <div class="description-content">
                                                <div class="title">
                                                    <span>{{ oneDescription.sub_title }}</span>
                                                </div>
                                                <div class="content">
                                                    <p>{{ oneDescription.sub_content }}</p>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            {% endif %}

                            {# Other Information #}
                            {% if livingThing.otherData != null %}
                                <div class="post-content-otherData" id="otherData">
                                    <h3 class="post-content-otherData-title">Other Data</h3>

                                    <div class="post-content-otherData-content">
                                        {% for oneOtherData in livingThing.otherData %}
                                            <div class="otherData-content">
                                                <div class="title">
                                                    <span>{{ oneOtherData.sub_title }}</span>
                                                </div>
                                                <div class="content">
                                                    <p>{{ oneOtherData.sub_content }}</p>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            {% endif %}

                            {# Media Gallery Photo #}
                            {% if mediaGallery != [] %}
                                <div class="post-content-photo" id="photo">
                                    <h3 class="post-content-photo-title">Photos</h3>

                                    <div class="post-content-photo-content">
                                        {% for oneMedia in mediaGallery %}
                                            {% if file_exist(oneMedia.path, false) != "" %}
                                                <div class="photo-content">
                                                    <img src="{{ asset(oneMedia.path) }}" />
                                                </div>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                            {% endif %}

                            {# References / Sources #}
                            {% if references != [] %}
                                <div class="post-content-references" id="references">
                                    <div class="post-content-references-title">
                                        <h3>References</h3>
                                    </div>

                                    <div class="post-content-references-content">
                                        {% for oneReferences in references %}
                                            <li><a href="{{ oneReferences.link }}">{{ oneReferences.name }}</a></li>
                                        {% endfor %}
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>

                {# Right Content #}
                <div class="articleLivingThing-single-right">
                    <div class="articleLivingThing-livingThing">
                        <div class="livingThing-img">
                            <img class="img-fluid" src="{{ asset(file_exist(livingThing.idLivingThing.imgPath)) }}" alt="{{ livingThing.idLivingThing.name }}">
                        </div>

                        <div class="livingThing-content">
                            <div>&nbsp;<div>
                            <table>
                                {% if livingThing.idLivingThing.domain != null %}
                                    <tr>
                                        <td>Domain :</td>
                                        <td>{{ livingThing.idLivingThing.domain }}</td>
                                    </tr>
                                {% endif %}

                                {% if livingThing.idLivingThing.kingdom != null %}
                                    <tr>
                                        <td>Kingdom :</td>
                                        <td>{{ livingThing.idLivingThing.kingdom }}</td>
                                    </tr>
                                {% endif %}

                                {% if livingThing.idLivingThing.subKingdom != null %}
                                    <tr>
                                        <td>Sub Kingdom :</td>
                                        <td>{{ livingThing.idLivingThing.subKingdom }}</td>
                                    </tr>
                                {% endif %}

                                {% if livingThing.idLivingThing.branch != null %}
                                    <tr>
                                        <td>Branch :</td>
                                        <td>{{ livingThing.idLivingThing.branch }}</td>
                                    </tr>
                                {% endif %}

                                {% if livingThing.idLivingThing.subBranch != null %}
                                    <tr>
                                        <td>Sub Branch :</td>
                                        <td>{{ livingThing.idLivingThing.subBranch }}</td>
                                    </tr>
                                {% endif %}

                                {% if livingThing.idLivingThing.infraBranch != null %}
                                    <tr>
                                        <td>Infra Branch :</td>
                                        <td>{{ livingThing.idLivingThing.infraBranch }}</td>
                                    </tr>
                                {% endif %}

                                {% if livingThing.idLivingThing.division != null %}
                                    <tr>
                                        <td>Division :</td>
                                        <td>{{ livingThing.idLivingThing.division }}</td>
                                    </tr>
                                {% endif %}

                                {% if livingThing.idLivingThing.superClass != null %}
                                    <tr>
                                        <td>Super Class :</td>
                                        <td>{{ livingThing.idLivingThing.superClass }}</td>
                                    </tr>
                                {% endif %}

                                {% if livingThing.idLivingThing.class != null %}
                                    <tr>
                                        <td>Class :</td>
                                        <td>{{ livingThing.idLivingThing.class }}</td>
                                    </tr>
                                {% endif %}
                                
                                {% if livingThing.idLivingThing.subClass != null %}
                                    <tr>
                                        <td>Sub Class :</td>
                                        <td>{{ livingThing.idLivingThing.subClass }}</td>
                                    </tr>
                                {% endif %}

                                {% if livingThing.idLivingThing.infraClass != null %}
                                    <tr>
                                        <td>Infra Class :</td>
                                        <td>{{ livingThing.idLivingThing.infraClass }}</td>
                                    </tr>
                                {% endif %}

                                {% if livingThing.idLivingThing.superOrder != null %}
                                    <tr>
                                        <td>Super Order :</td>
                                        <td>{{ livingThing.idLivingThing.superOrder }}</td>
                                    </tr>
                                {% endif %}

                                {% if livingThing.idLivingThing.normalOrder != null %}
                                    <tr>
                                        <td>Order :</td>
                                        <td>{{ livingThing.idLivingThing.normalOrder }}</td>
                                    </tr>
                                {% endif %}

                                {% if livingThing.idLivingThing.subOrder != null %}
                                    <tr>
                                        <td>Sub Order :</td>
                                        <td>{{ livingThing.idLivingThing.subOrder }}</td>
                                    </tr>
                                {% endif %}
                            
                                {% if livingThing.idLivingThing.infraOrder != null %}
                                    <tr>
                                        <td>Infra Order :</td>
                                        <td>{{ livingThing.idLivingThing.infraOrder }}</td>
                                    </tr>
                                {% endif %}

                                {% if livingThing.idLivingThing.microOrder != null %}
                                    <tr>
                                        <td>Micro Order :</td>
                                        <td>{{ livingThing.idLivingThing.microOrder }}</td>
                                    </tr>
                                {% endif %}

                                {% if livingThing.idLivingThing.superFamily != null %}
                                    <tr>
                                        <td>Super Family :</td>
                                        <td>{{ livingThing.idLivingThing.superFamily }}</td>
                                    </tr>
                                {% endif %}

                                {% if livingThing.idLivingThing.family != null %}
                                    <tr>
                                        <td>Family :</td>
                                        <td>{{ livingThing.idLivingThing.family }}</td>
                                    </tr>
                                {% endif %}

                                {% if livingThing.idLivingThing.subFamily != null %}
                                    <tr>
                                        <td>Sub Family :</td>
                                        <td>{{ livingThing.idLivingThing.subFamily }}</td>
                                    </tr>
                                {% endif %}

                                {% if livingThing.idLivingThing.genus != null %}
                                    <tr>
                                        <td>Genus :</td>
                                        <td>{{ livingThing.idLivingThing.genus }}</td>
                                    </tr>
                                {% endif %}

                                {% if livingThing.idLivingThing.subGenus != null %}
                                    <tr>
                                        <td>Sub Genus :</td>
                                        <td>{{ livingThing.idLivingThing.subGenus }}</td>
                                    </tr>
                                {% endif %}

                                {% if livingThing.idLivingThing.species != null %}
                                    <tr>
                                        <td>Species :</td>
                                        <td>{{ livingThing.idLivingThing.species }}</td>
                                    </tr>
                                {% endif %}
                                
                                {% if livingThing.idLivingThing.subSpecies != null %}
                                    <tr>
                                        <td>Sub Species :</td>
                                        <td>{{ livingThing.idLivingThing.subSpecies }}</td>
                                    </tr>
                                {% endif %}
                                
                                {% if countries != [] %}
                                    <tr>
                                        <td style="vertical-align: top;">Contries :</td>
                                        <td>
                                            {% for oneCountries in countries %}
                                                <li><a href="{{ path('countryArticle', {'country': oneCountries.treatedCountryName}) }}">{{ oneCountries.name }}</a></li>
                                            {% endfor %}
                                        </td>
                                    </tr>
                                {% endif %}
                            </table>

                            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                {% if is_granted('ROLE_USER') %}
                                    <a class="btn btn-success" href="{{ path('userEditArticle', {'id': livingThing.id}) }}"><i class="far fa-edit"></i></a>
                                {% else %}
                                    <a class="btn btn-success" href="{{ path('adminEditArticleByCategory', {'category': 'living-thing', 'id': livingThing.id}) }}"><i class="far fa-edit"></i></a>
                                {% endif %}
                            {% endif %}

                            <a class="btn btn-primary" href="{{ path('exportArticleLivingThingById', {'name': name, 'id': livingThing.id}) }}"><i class="fas fa-download"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        {# </div> #}
    </section>
{% endblock %}