{% extends 'user/baseUser.html.twig' %}

{% block body %}
    <section class="profile">
        <div class="profile-content">
            <div class="profile-left">
                <div class="profile-img">
                    <label for="user_imgPath"><img class="img-fluid" src="{{ asset(userImg) }}" alt="{{ user.firstname }} {{ user.lastname }}"></label>
                </div>
                <div class="profile-user-identity">
                    <span>{{ user.firstname }}</span>
                    <span>{{ user.lastname }}</span>
                </div>
            </div>
            <div class="profile-right">
                {{ form_start(formUser, {"action": "path('userProfile')", "method": "POST"}) }}
                    <div class="form-group">
                        {{ form_label(formUser.firstname) }}
                        {{ form_widget(formUser.firstname) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(formUser.lastname) }}
                        {{ form_widget(formUser.lastname) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(formUser.email) }}
                        {{ form_widget(formUser.email) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(formUser.login) }}
                        {{ form_widget(formUser.login) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(formUser.password) }}
                        {{ form_widget(formUser.password) }}
                    </div>
                    <div class="form-group" hidden>
                        {{ form_widget(formUser.imgPath) }}
                    </div>
                    <div class="form-group text-center">
                        {{ form_widget(formUser.submit) }}
                    </div>
                {{ form_end(formUser, {"action": "path('userProfile')", "method": "POST"}) }}
            </div>
        </div>
    </section>
{% endblock %}
