{% extends 'admin/baseAdmin.html.twig' %}

{% block body %}
    <section class="wikiearth-article">
        <div class="container">
            <a class="btn btn-primary" href="{{ path('adminArticleByCategory', {'category': category}) }}"><i class="fa fa-arrow-left"></i> Retour</a>
            
            <div>&nbsp;</div>
            <div class="article-mineral">
                <h1>{{ article.title }}</h1>

                <div class="mineral-data-section txt-center">
                    <table class="table w-350px m-auto">
                        <tr>
                            <td colspan="2"><img class="img-fluid" src="{{ asset(file_exist(article.idLivingThing.imgPath)) }}" alt="{{ article.idLivingThing.name }}"></td>
                        </tr>

                        {% if article.idLivingThing.domain != null %}
                            <tr>
                                <td>Domain : </td>
                                <td>{{ article.idLivingThing.domain }}</td>
                            </tr>
                        {% endif %}

                        {% if article.idLivingThing.kingdom != null %}
                            <tr>
                                <td>Kingdom : </td>
                                <td>{{ article.idLivingThing.kingdom }}</td>
                            </tr>
                        {% endif %}

                        {% if article.idLivingThing.subKingdom != null %}
                            <tr>
                                <td>Sub Kingdom : </td>
                                <td>{{ article.idLivingThing.subKingdom }}</td>
                            </tr>
                        {% endif %}

                        {% if article.idLivingThing.branch != null %}
                            <tr>
                                <td>Branch : </td>
                                <td>{{ article.idLivingThing.branch }}</td>
                            </tr>
                        {% endif %}
                        
                        {% if article.idLivingThing.subBranch != null %}
                            <tr>
                                <td>Sub Branch : </td>
                                <td>{{ article.idLivingThing.subBranch }}</td>
                            </tr>
                        {% endif %}

                        {% if article.idLivingThing.infraBranch != null %}
                            <tr>
                                <td>Infra Branch : </td>
                                <td>{{ article.idLivingThing.infraBranch }}</td>
                            </tr>
                        {% endif %}
                            
                        {% if article.idLivingThing.division != null %}
                            <tr>
                                <td>Division : </td>
                                <td>{{ article.idLivingThing.division }}</td>
                            </tr>
                        {% endif %}

                        {% if article.idLivingThing.superClass != null %}
                            <tr>
                                <td>Super Class : </td>
                                <td>{{ article.idLivingThing.superClass }}</td>
                            </tr>
                        {% endif %}

                        {% if article.idLivingThing.class != null %}
                            <tr>
                                <td>Class : </td>
                                <td>{{ article.idLivingThing.class }}</td>
                            </tr>
                        {% endif %}

                        {% if article.idLivingThing.subClass != null %}
                            <tr>
                                <td>Sub Class : </td>
                                <td>{{ article.idLivingThing.subClass }}</td>
                            </tr>
                        {% endif %}

                        {% if article.idLivingThing.infraClass != null %}
                            <tr>
                                <td>Infra Class : </td>
                                <td>{{ article.idLivingThing.infraClass }}</td>
                            </tr>
                        {% endif %}

                        {% if article.idLivingThing.superOrder != null %}
                            <tr>
                                <td>Super Order : </td>
                                <td>{{ article.idLivingThing.superOrder }}</td>
                            </tr>
                        {% endif %}

                        {% if article.idLivingThing.normalOrder != null %}
                            <tr>
                                <td>Order : </td>
                                <td>{{ article.idLivingThing.normalOrder }}</td>
                            </tr>
                        {% endif %}

                        {% if article.idLivingThing.subOrder != null %}
                            <tr>
                                <td>Sub Order : </td>
                                <td>{{ article.idLivingThing.subOrder }}</td>
                            </tr>
                        {% endif %}
                        
                        {% if article.idLivingThing.infraOrder != null %}
                            <tr>
                                <td>Infra Order : </td>
                                <td>{{ article.idLivingThing.infraOrder }}</td>
                            </tr>
                        {% endif %}

                        {% if article.idLivingThing.microOrder != null %}
                            <tr>
                                <td>Micro Order : </td>
                                <td>{{ article.idLivingThing.microOrder }}</td>
                            </tr>
                        {% endif %}

                        {% if article.idLivingThing.superFamily != null %}
                            <tr>
                                <td>Super Family : </td>
                                <td>{{ article.idLivingThing.superFamily }}</td>
                            </tr>
                        {% endif %}

                        {% if article.idLivingThing.family != null %}
                            <tr>
                                <td>Family : </td>
                                <td>{{ article.idLivingThing.family }}</td>
                            </tr>
                        {% endif %}

                        {% if article.idLivingThing.subFamily != null %}
                            <tr>
                                <td>Sub Family : </td>
                                <td>{{ article.idLivingThing.subFamily }}</td>
                            </tr>
                        {% endif %}

                        {% if article.idLivingThing.genus != null %}
                            <tr>
                                <td>Genus : </td>
                                <td>{{ article.idLivingThing.genus }}</td>
                            </tr>
                        {% endif %}

                        {% if article.idLivingThing.subGenus != null %}
                            <tr>
                                <td>Sub Genus : </td>
                                <td>{{ article.idLivingThing.subGenus }}</td>
                            </tr>
                        {% endif %}

                        {% if article.idLivingThing.species != null %}
                            <tr>
                                <td>Species : </td>
                                <td>{{ article.idLivingThing.species }}</td>
                            </tr>
                        {% endif %}

                        {% if article.idLivingThing.subSpecies != null %}
                            <tr>
                                <td>Sub Species : </td>
                                <td>{{ article.idLivingThing.subSpecies }}</td>
                            </tr>
                        {% endif %}
                    </table>
                </div>

                {# Geography #}
                {% if article.geography != [] %}
                    <div class="geography-section">
                        <h2>Geography</h2>
                        {% for geography in article.geography %}
                            <div class="geography">
                                <h3>{{ geography.sub_title }}</h3>
                                <p>{{ geography.sub_content }}</p>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}

                {# Ecology #}
                {% if article.ecology != [] %}
                    <div class="ecologies-section">
                        <h2>Ecology</h2>
                        {% for ecology in article.ecology %}
                            <div class="ecology">
                                <h3>{{ ecology.sub_title }}</h3>
                                <p>{{ ecology.sub_content }}</p>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}

                {# Behaviour #}
                {% if article.behaviour != [] %}
                    <div class="behaviours-section">
                        <h2>Behaviour</h2>
                        {% for behaviour in article.behaviour %}
                            <div class="behaviour">
                                <h3>{{ behaviour.sub_title }}</h3>
                                <p>{{ behaviour.sub_content }}</p>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}

                {# Way of Life #}
                {% if article.wayOfLife != [] %}
                    <div class="wayOfLifes-section">
                        <h2>Way of life</h2>
                        {% for wayOfLife in article.wayOfLife %}
                            <div class="wayOfLife">
                                <h3>{{ wayOfLife.sub_title }}</h3>
                                <p>{{ wayOfLife.sub_content }}</p>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}

                {# Description #}
                {% if article.description != [] %}
                    <div class="descriptions-section">
                        <h2>Way of life</h2>
                        {% for description in article.description %}
                            <div class="description">
                                <h3>{{ description.sub_title }}</h3>
                                <p>{{ description.sub_content }}</p>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}

                {# Other Informations #}
                {% if article.otherData != [] %}
                    <div class="otherDatas-section">
                        <h2>Way of life</h2>
                        {% for otherData in article.otherData %}
                            <div class="otherData">
                                <h3>{{ otherData.sub_title }}</h3>
                                <p>{{ otherData.sub_content }}</p>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}

                {# Media Gallery Photo #}
                {% if article.mediaGallery != [] %}
                    <div class="mediaGalleries-section">
                        <h2>Media Gallery</h2>
                        {% for oneMedia in article.mediaGallery %}
                            <div class="mediaGallery">
                                <img src="{{ asset(oneMedia) }}" alt="">
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>

            {# Right Content #}
            {% if article.approved != true %}
                <a class="btn btn-success" href="{{ path('adminApproveArticleByCategory', {'id': article.id, 'category': category}) }}" onClick="return confirm('Are you sure you want to publish this article ?');"><i class="fas fa-check"></i> Approve</a>
            {% endif %}
            <a class="btn btn-primary" href="{{ path('adminEditArticleByCategory', {'id': article.id, 'category': category}) }}"><i class="far fa-edit"></i> Edit</a>
            <a class="btn btn-danger" href="{{ path('adminDeleteArticleByCategory', {'id': article.id, 'category': category}) }}" onClick="return confirm('Are you sure you want to delete this article (and the living thing) ?');"><i class="far fa-trash-alt"></i> Delete</a>
        </div>
    </section>
{% endblock %}