{% extends 'admin/baseAdmin.html.twig' %}

{% block body %}
    <section class="wikiearth-article">
        <div class="container">
            <a class="btn btn-primary" href="{{ path('adminArticleByCategory', {'category': category}) }}"><i class="fa fa-arrow-left"></i> Retour</a>
            
            <div>&nbsp;</div>
            <div class="article-mineral">
                <h1>{{ article.title }}</h1>

                <div class="mineral-data-section txt-center">
                    <table class="table w-350px m-auto">
                        <tr>
                            <td colspan="2"><img class="img-fluid" src="{{ asset(file_exist(article.articleLivingThing.livingThing.imgPath)) }}" alt="{{ article.articleLivingThing.livingThing.name }}"></td>
                        </tr>

                        {% if article.articleLivingThing.livingThing.domain != null %}
                            <tr>
                                <td>Domain : </td>
                                <td>{{ article.articleLivingThing.livingThing.domain }}</td>
                            </tr>
                        {% endif %}

                        {% if article.articleLivingThing.livingThing.kingdom != null %}
                            <tr>
                                <td>Kingdom : </td>
                                <td>{{ article.articleLivingThing.livingThing.kingdom }}</td>
                            </tr>
                        {% endif %}

                        {% if article.articleLivingThing.livingThing.subKingdom != null %}
                            <tr>
                                <td>Sub Kingdom : </td>
                                <td>{{ article.articleLivingThing.livingThing.subKingdom }}</td>
                            </tr>
                        {% endif %}

                        {% if article.articleLivingThing.livingThing.branch != null %}
                            <tr>
                                <td>Branch : </td>
                                <td>{{ article.articleLivingThing.livingThing.branch }}</td>
                            </tr>
                        {% endif %}
                        
                        {% if article.articleLivingThing.livingThing.subBranch != null %}
                            <tr>
                                <td>Sub Branch : </td>
                                <td>{{ article.articleLivingThing.livingThing.subBranch }}</td>
                            </tr>
                        {% endif %}

                        {% if article.articleLivingThing.livingThing.infraBranch != null %}
                            <tr>
                                <td>Infra Branch : </td>
                                <td>{{ article.articleLivingThing.livingThing.infraBranch }}</td>
                            </tr>
                        {% endif %}
                            
                        {% if article.articleLivingThing.livingThing.division != null %}
                            <tr>
                                <td>Division : </td>
                                <td>{{ article.articleLivingThing.livingThing.division }}</td>
                            </tr>
                        {% endif %}

                        {% if article.articleLivingThing.livingThing.superClass != null %}
                            <tr>
                                <td>Super Class : </td>
                                <td>{{ article.articleLivingThing.livingThing.superClass }}</td>
                            </tr>
                        {% endif %}

                        {% if article.articleLivingThing.livingThing.class != null %}
                            <tr>
                                <td>Class : </td>
                                <td>{{ article.articleLivingThing.livingThing.class }}</td>
                            </tr>
                        {% endif %}

                        {% if article.articleLivingThing.livingThing.subClass != null %}
                            <tr>
                                <td>Sub Class : </td>
                                <td>{{ article.articleLivingThing.livingThing.subClass }}</td>
                            </tr>
                        {% endif %}

                        {% if article.articleLivingThing.livingThing.infraClass != null %}
                            <tr>
                                <td>Infra Class : </td>
                                <td>{{ article.articleLivingThing.livingThing.infraClass }}</td>
                            </tr>
                        {% endif %}

                        {% if article.articleLivingThing.livingThing.superOrder != null %}
                            <tr>
                                <td>Super Order : </td>
                                <td>{{ article.articleLivingThing.livingThing.superOrder }}</td>
                            </tr>
                        {% endif %}

                        {% if article.articleLivingThing.livingThing.normalOrder != null %}
                            <tr>
                                <td>Order : </td>
                                <td>{{ article.articleLivingThing.livingThing.normalOrder }}</td>
                            </tr>
                        {% endif %}

                        {% if article.articleLivingThing.livingThing.subOrder != null %}
                            <tr>
                                <td>Sub Order : </td>
                                <td>{{ article.articleLivingThing.livingThing.subOrder }}</td>
                            </tr>
                        {% endif %}
                        
                        {% if article.articleLivingThing.livingThing.infraOrder != null %}
                            <tr>
                                <td>Infra Order : </td>
                                <td>{{ article.articleLivingThing.livingThing.infraOrder }}</td>
                            </tr>
                        {% endif %}

                        {% if article.articleLivingThing.livingThing.microOrder != null %}
                            <tr>
                                <td>Micro Order : </td>
                                <td>{{ article.articleLivingThing.livingThing.microOrder }}</td>
                            </tr>
                        {% endif %}

                        {% if article.articleLivingThing.livingThing.superFamily != null %}
                            <tr>
                                <td>Super Family : </td>
                                <td>{{ article.articleLivingThing.livingThing.superFamily }}</td>
                            </tr>
                        {% endif %}

                        {% if article.articleLivingThing.livingThing.family != null %}
                            <tr>
                                <td>Family : </td>
                                <td>{{ article.articleLivingThing.livingThing.family }}</td>
                            </tr>
                        {% endif %}

                        {% if article.articleLivingThing.livingThing.subFamily != null %}
                            <tr>
                                <td>Sub Family : </td>
                                <td>{{ article.articleLivingThing.livingThing.subFamily }}</td>
                            </tr>
                        {% endif %}

                        {% if article.articleLivingThing.livingThing.genus != null %}
                            <tr>
                                <td>Genus : </td>
                                <td>{{ article.articleLivingThing.livingThing.genus }}</td>
                            </tr>
                        {% endif %}

                        {% if article.articleLivingThing.livingThing.subGenus != null %}
                            <tr>
                                <td>Sub Genus : </td>
                                <td>{{ article.articleLivingThing.livingThing.subGenus }}</td>
                            </tr>
                        {% endif %}

                        {% if article.articleLivingThing.livingThing.species != null %}
                            <tr>
                                <td>Species : </td>
                                <td>{{ article.articleLivingThing.livingThing.species }}</td>
                            </tr>
                        {% endif %}

                        {% if article.articleLivingThing.livingThing.subSpecies != null %}
                            <tr>
                                <td>Sub Species : </td>
                                <td>{{ article.articleLivingThing.livingThing.subSpecies }}</td>
                            </tr>
                        {% endif %}
                    </table>
                </div>

                {# Generality #}
                {% if article.articleLivingThing.generality != [] %}
                    <div class="generality-section">
                        <h2>Generality</h2>
                        {% for generality in article.articleLivingThing.generality %}
                            <div class="generality">
                                <h3>{{ generality.sub_title }}</h3>
                                <p>{{ generality.sub_content }}</p>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}

                {# Geography #}
                {% if article.articleLivingThing.geography != [] %}
                    <div class="geography-section">
                        <h2>Geography</h2>
                        {% for geography in article.articleLivingThing.geography %}
                            <div class="geography">
                                <h3>{{ geography.sub_title }}</h3>
                                <p>{{ geography.sub_content }}</p>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}

                {# Ecology #}
                {% if article.articleLivingThing.ecology != [] %}
                    <div class="ecologies-section">
                        <h2>Ecology</h2>
                        {% for ecology in article.articleLivingThing.ecology %}
                            <div class="ecology">
                                <h3>{{ ecology.sub_title }}</h3>
                                <p>{{ ecology.sub_content }}</p>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}

                {# Behaviour #}
                {% if article.articleLivingThing.behaviour != [] %}
                    <div class="behaviours-section">
                        <h2>Behaviour</h2>
                        {% for behaviour in article.articleLivingThing.behaviour %}
                            <div class="behaviour">
                                <h3>{{ behaviour.sub_title }}</h3>
                                <p>{{ behaviour.sub_content }}</p>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}

                {# Way of Life #}
                {% if article.articleLivingThing.wayOfLife != [] %}
                    <div class="wayOfLifes-section">
                        <h2>Way of life</h2>
                        {% for wayOfLife in article.articleLivingThing.wayOfLife %}
                            <div class="wayOfLife">
                                <h3>{{ wayOfLife.sub_title }}</h3>
                                <p>{{ wayOfLife.sub_content }}</p>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}

                {# Description #}
                {% if article.articleLivingThing.description != [] %}
                    <div class="descriptions-section">
                        <h2>Way of life</h2>
                        {% for description in article.articleLivingThing.description %}
                            <div class="description">
                                <h3>{{ description.sub_title }}</h3>
                                <p>{{ description.sub_content }}</p>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}

                {# Other Informations #}
                {% if article.articleLivingThing.otherData != [] %}
                    <div class="otherDatas-section">
                        <h2>Way of life</h2>
                        {% for otherData in article.articleLivingThing.otherData %}
                            <div class="otherData">
                                <h3>{{ otherData.sub_title }}</h3>
                                <p>{{ otherData.sub_content }}</p>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}

                {# Media Gallery Photo #}
                {% if article.articleLivingThing.mediaGallery != [] %}
                    <div class="mediaGalleries-section">
                        <h2>Media Gallery</h2>
                        {% for oneMedia in article.articleLivingThing.mediaGallery %}
                            <div class="mediaGallery">
                                <img src="{{ asset(oneMedia) }}" alt="">
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>

            {# Right Content #}
            {% if article.approved != true %}
                <a class="btn btn-success" href="{{ path('adminApproveArticleByCategory', {'id': article.id, 'category': category}) }}" onClick="return confirm('Are you sure you want to publish this article ?');"><i class="fas fa-check"></i> Approve</a>
            {% endif %}
            <a class="btn btn-primary" href="{{ path('adminEditArticleByCategory', {'id': article.id, 'category': category}) }}"><i class="far fa-edit"></i> Edit</a>
            <a class="btn btn-danger" href="{{ path('adminDeleteArticleByCategory', {'id': article.id, 'category': category}) }}" onClick="return confirm('Are you sure you want to delete this article (and the living thing) ?');"><i class="far fa-trash-alt"></i> Delete</a>
        </div>
    </section>
{% endblock %}