{% extends 'admin/baseAdmin.html.twig' %}

{% block body %}
    <div class="container">
        {% if response != [] %}
            <div class="alert alert-{{ response.class }} txt-center">
                <span>{{ response.message }}</span>
            </div>
        {% endif %}

        {{ form_start(formArticle, {"method":"POST"}) }}
            <div class="row">
                <div class="form-group col-md-12 col-lg-12 wow fadeInUp animated">
                    <h3>Living Thing</h3>
                    
                    <div class="row">
                        <div class="form-group col-md-12 col-lg-12 wow fadeInUp animated">
                            {{ form_widget(formArticle.livingThing) }}
                        </div>
                    </div>
                </div>

                <div class="form-group col-md-12 col-lg-12 wow fadeInUp animated">
                    <h3>Geography</h3>
                    
                    <div class="row">
                        <div class="form-group col-md-12 col-lg-12 wow fadeInUp animated">
                            <ul class="geography-tags" data-prototype="{{ form_widget(formArticle.geography.vars.prototype)|e }}">
                                {% for geography in formArticle.geography %}
                                    <li class="form-group col-md-12 col-lg-12 wow fadeInUp animated">
                                        <div class="row">
                                            <div class="form-group col-md-12 col-lg-12 wow fadeInUp animated">
                                                {{ form_row(geography.sub_title) }}
                                            </div>
                                            <div class="form-group col-md-12 col-lg-12 wow fadeInUp animated">
                                                {{ form_row(geography.sub_content) }}
                                            </div>
                                        </div>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="form-group col-md-12 col-lg-12 wow fadeInUp animated">
                    <h3>Ecology</h3>
                    
                    <div class="row">
                        <div class="form-group col-md-12 col-lg-12 wow fadeInUp animated">
                            <ul class="ecology-tags" data-prototype="{{ form_widget(formArticle.ecology.vars.prototype)|e }}">
                                {% for ecology in formArticle.ecology %}
                                    <li class="form-group col-md-12 col-lg-12 wow fadeInUp animated">
                                        <div class="row">
                                            <div class="form-group col-md-12 col-lg-12 wow fadeInUp animated">
                                                {{ form_row(ecology.sub_title) }}
                                            </div>
                                            <div class="form-group col-md-12 col-lg-12 wow fadeInUp animated">
                                                {{ form_row(ecology.sub_content) }}
                                            </div>
                                        </div>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="form-group col-md-12 col-lg-12 wow fadeInUp animated">
                    <h3>Behaviour</h3>
                    
                    <div class="row">
                        <div class="form-group col-md-12 col-lg-12 wow fadeInUp animated">
                            <ul class="behaviour-tags" data-prototype="{{ form_widget(formArticle.behaviour.vars.prototype)|e }}">
                                {% for behaviour in formArticle.behaviour %}
                                    <li class="form-group col-md-12 col-lg-12 wow fadeInUp animated">
                                        <div class="row">
                                            <div class="form-group col-md-12 col-lg-12 wow fadeInUp animated">
                                                {{ form_row(behaviour.sub_title) }}
                                            </div>
                                            <div class="form-group col-md-12 col-lg-12 wow fadeInUp animated">
                                                {{ form_row(behaviour.sub_content) }}
                                            </div>
                                        </div>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="form-group col-md-12 col-lg-12 wow fadeInUp animated">
                    <h3>Way Of Life</h3>
                    
                    <div class="row">
                        <div class="form-group col-md-12 col-lg-12 wow fadeInUp animated">
                            <ul class="wayOfLife-tags" data-prototype="{{ form_widget(formArticle.wayOfLife.vars.prototype)|e }}">
                                {% for wayOfLife in formArticle.wayOfLife %}
                                    <li class="form-group col-md-12 col-lg-12 wow fadeInUp animated">
                                        <div class="row">
                                            <div class="form-group col-md-12 col-lg-12 wow fadeInUp animated">
                                                {{ form_row(wayOfLife.sub_title) }}
                                            </div>
                                            <div class="form-group col-md-12 col-lg-12 wow fadeInUp animated">
                                                {{ form_row(wayOfLife.sub_content) }}
                                            </div>
                                        </div>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="form-group col-md-12 col-lg-12 wow fadeInUp animated">
                    <h3>Description</h3>
                    
                    <div class="row">
                        <div class="form-group col-md-12 col-lg-12 wow fadeInUp animated">
                            <ul class="description-tags" data-prototype="{{ form_widget(formArticle.description.vars.prototype)|e }}">
                                {% for description in formArticle.description %}
                                    <li class="form-group col-md-12 col-lg-12 wow fadeInUp animated">
                                        <div class="row">
                                            <div class="form-group col-md-12 col-lg-12 wow fadeInUp animated">
                                                {{ form_row(description.sub_title) }}
                                            </div>
                                            <div class="form-group col-md-12 col-lg-12 wow fadeInUp animated">
                                                {{ form_row(description.sub_content) }}
                                            </div>
                                        </div>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="form-group col-md-12 col-lg-12 wow fadeInUp animated">
                    <h3>Other Data</h3>
                    
                    <div class="row">
                        <div class="form-group col-md-12 col-lg-12 wow fadeInUp animated">
                            <ul class="otherData-tags" data-prototype="{{ form_widget(formArticle.otherData.vars.prototype)|e }}">
                                {% for otherData in formArticle.otherData %}
                                    <li class="form-group col-md-12 col-lg-12 wow fadeInUp animated">
                                        <div class="row">
                                            <div class="form-group col-md-12 col-lg-12 wow fadeInUp animated">
                                                {{ form_row(otherData.sub_title) }}
                                            </div>
                                            <div class="form-group col-md-12 col-lg-12 wow fadeInUp animated">
                                                {{ form_row(otherData.sub_content) }}
                                            </div>
                                        </div>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="form-group col-md-12 col-lg-12 wow fadeInUp animated">
                    {{ form_row(formArticle.mediaGallery) }}
                </div>
            </div>
        {{ form_end(formArticle, {"method":"POST"}) }}
    </div>
{% endblock %}