{% extends 'admin/baseAdmin.html.twig' %}

{% block body %}
    <section class="wikiearth-article">
        <div class="">
            <a class="btn btn-custom-green" href="{{ path('adminAddLivingThing') }}">ADD</a>
            <div>&nbsp;</div>
            {% if livingThings != [] %}
                {% for livingThing in livingThings %}
                    <li class="media h-150px">
                        <div class="media-header">
                            <img class="img-fluid" src="{{ asset(file_exist(livingThing.imgPath)) }}" alt="{{ livingThing.name }}">
                        </div>
                        <div class="media-body">
                            <h5 class="media-body-title">{{ livingThing.name }}</h5>
                            <a class="btn btn-success" href="{{ path('adminEditLivingThing', {'id':livingThing.id}) }}"><i class="far fa-edit"></i></a>
                            <a class="btn btn-danger" href="{{ path('adminDeleteLivingThing', {'id':livingThing.id}) }}"><i class="far fa-trash-alt"></i></a>
                        </div>
                    </li>
                {% endfor %}

                {# Pagination #}
                {% if offset >= 1 and offset <= nbrOffset %}
                    <div class="pagination">
                        <div class="pagination-links">
                            {% if offset - 1 >= 1 %}
                                <a href="{{ path('adminLivingThing', {'offset': 1}) }}"><i class="fas fa-angle-double-left"></i></a>
                                <a class="" href="{{ path('adminLivingThing', {'offset': offset - 1}) }}">{{ offset - 1 }}</a>
                            {% endif %}

                            <a class="active" href="{{ path('adminLivingThing', {'offset': offset}) }}"><span>{{ offset }}</span></a>
                            
                            {% if offset + 1 <= nbrOffset %}
                                <a class="" href="{{ path('adminLivingThing', {'offset': offset + 1}) }}">{{ offset + 1 }}</a>
                                <a href="{{ path('adminLivingThing', {'offset': nbrOffset}) }}"><i class="fas fa-angle-double-right"></i></a>
                            {% endif %}
                        </div>
                    </div>
                {% endif %}
            {% else %}
                <div class="alert alert-danger">
                    <span>No results has been found</span>
                </div>
            {% endif %}
        </div>
    </section>
{% endblock %}