{% extends 'anonymous/baseAnonymous.html.twig' %}

{% block body %}
    <section class="signIn">
        <div class="container signIn-content">
            <h3 class="signIn-title">Sign In</h3>
            {{ form_start(userLoginForm, {"method": "POST"}) }}
                <div class="row">
                    <div class="form-group col-md-12 col-lg-12 wow fadeInUp animated">
                        {{ form_label(userLoginForm.login) }}
                        {{ form_widget(userLoginForm.login) }}
                    </div>
                    <div class="form-group col-md-12 col-lg-12 wow fadeInUp animated">
                        {{ form_label(userLoginForm.password) }}
                        {{ form_widget(userLoginForm.password) }}
                    </div>
                    <div class="form-group col-md-12 col-lg-12 wow fadeInUp animated">
                        {{ form_widget(userLoginForm.rememberMe) }}
                    </div>
                    
                    <div class="form-group col-md-12 col-lg-12 wow fadeInUp animated">
                        {{ form_widget(userLoginForm.submit) }}
                        <a href="{{ path('register') }}" class="btn btn-custom-midnight">Create an account</a>
                    </div>
                </div>
            {{ form_end(userLoginForm, {"method": "POST"}) }}
        </div>
    </section>
{% endblock %}
