{% extends 'anonymous/baseAnonymous.html.twig' %}

{% block body %}
    <section class="signUp">
        {% if response != [] %}
            <div class="container signUp-message">
                <div class="alert alert-{{ response.class }} txt-center">
                    <span>{{ response.message }}</span>
                </div>
            </div>
        {% endif %}

        <div class="container signUp-content">
            <h3 class="signUp-title">Sign Up</h3>
            {{ form_start(userRegisterForm, {'method': 'POST'}) }}
                <div class="row">
                    <div class="form-group col-md-6 col-lg-6 wow fadeInUp animated">
                        {{ form_label(userRegisterForm.firstname) }}
                        {{ form_widget(userRegisterForm.firstname) }}
                    </div>
                    <div class="form-group col-md-6 col-lg-6 wow fadeInUp animated">
                        {{ form_label(userRegisterForm.lastname) }}
                        {{ form_widget(userRegisterForm.lastname) }}
                    </div>
                    <div class="form-group col-md-12 col-lg-12 wow fadeInUp animated">
                        {{ form_label(userRegisterForm.email) }}
                        {{ form_widget(userRegisterForm.email) }}
                    </div>
                    <div class="form-group col-md-12 col-lg-12 wow fadeInUp animated">
                        {{ form_label(userRegisterForm.login) }}
                        {{ form_widget(userRegisterForm.login) }}
                    </div>
                    <div class="form-group col-md-6 col-lg-6 wow fadeInUp animated">
                        {{ form_label(userRegisterForm.password) }}
                        {{ form_widget(userRegisterForm.password) }}
                    </div>
                    <div class="form-group col-md-6 col-lg-6 wow fadeInUp animated">
                        {{ form_label(userRegisterForm.confirmPassword) }}
                        {{ form_widget(userRegisterForm.confirmPassword) }}
                    </div>
                    <div class="form-group col-md-12 col-lg-12 wow fadeInUp animated">
                        <input type="checkbox" id="agreeTerm" name="agreeTerm" value="agree" required/>
                        <label for="agreeTerm">I agree to the <a class="c-cyanBlue" href="{{ path('policy') }}" target="__blank">Terms of Service and Privacy policy</a></label>
                    </div>

                    <div class="form-group col-md-12 col-lg-12 wow fadeInUp animated">
                        {{ form_widget(userRegisterForm.submit) }}
                        <a href="{{ path('login') }}" class="btn btn-custom-green">Login</a>
                    </div>
                </div>
            {{ form_end(userRegisterForm, {'method': 'POST'}) }}
        </div>
    </section>
{% endblock %}
