{% extends 'admin/baseAdmin.html.twig' %}

{% block body %}
    <div class="container">
        <a class="btn btn-primary" href="{{ path('adminMedia') }}"><i class="fa fa-arrow-left"></i> Retour</a>

        {% if medias != [] %}
            {% for media in medias %}
                <li class="media h-150px">
                    <div class="media-header">
                        <img class="img-fluid" src="{{ asset(file_exist(media.path)) }}" alt="{{ media.name }}">
                    </div>
                    <div class="media-body">
                        <h5 class="media-body-title">{{ media.name }}</h5>
                        <button id="deleteMedia" class="btn btn-danger" data-mediaId="{{ media.id }}"><i class="far fa-trash-alt"></i></button>
                    </div>
                </li>
            {% endfor %}

            {# Pagination #}
            {% if offset >= 1 and offset <= nbrOffset %}
                <div class="pagination">
                    <div class="pagination-links">
                        {% if offset - 1 >= 1 %}
                            <a href="{{ path('adminMediaType', {'type': mediaType, 'offset': 1}) }}"><i class="fas fa-angle-double-left"></i></a>
                            <a class="" href="{{ path('adminMediaType', {'type': mediaType, 'offset': offset - 1}) }}">{{ offset - 1 }}</a>
                        {% endif %}

                        <a class="active" href="{{ path('adminMediaType', {'type': mediaType, 'offset': offset}) }}"><span>{{ offset }}</span></a>
                        
                        {% if offset + 1 <= nbrOffset %}
                            <a class="" href="{{ path('adminMediaType', {'type': mediaType, 'offset': offset + 1}) }}">{{ offset + 1 }}</a>
                            <a href="{{ path('adminMediaType', {'type': mediaType, 'offset': nbrOffset}) }}"><i class="fas fa-angle-double-right"></i></a>
                        {% endif %}
                    </div>
                </div>
            {% endif %}
        {% else %}
            <li class="media">
                <div class="media-body">Aucun média du type "{{ mediaType }}" n'a été trouvé.</div>
            </li>
        {% endif %}
    </div>
{% endblock %}