{% extends 'admin/baseAdmin.html.twig' %}

{% block body %}
    <div class="container">
        <a class="btn btn-primary" href="{{ path('adminMedia') }}"><i class="fa fa-arrow-left"></i> Retour</a>

        <div>
            {% if medias != [] %}
                {% for media in medias %}
                    <li style="list-style: none; display: inline-block;">
                        <div style="width:150px; height: 200px;">
                            <span>{{ media.name }}</span>
                            <img class="img-fluid" src="{{ asset(file_exist(media.path)) }}" alt="{{ media.name }}">
                        </div>
                    </li>
                {% endfor %}
            {% else %}
                <li>Aucun média du type "{{ mediaType }}" n'a été trouvé.</li>
            {% endif %}
        </div>
    </div>
{% endblock %}