{% extends 'anonymous/baseAnonymous.html.twig' %}

{% block body %}
    <section class="home">
        <div class="fluid-container home-content">
            <h2 class="c-white">The Encyclopedia of the Earth</h2>
            
            <form action="{{ path('search') }}" method="post">
                <input type="text" name="searchInput" placeholder="Search ..." required>
                <button type="submit"><i class="fas fa-search"></i></button>
            </form>
        </div>
    </section>

    {# <section class="home-map">
        {% include "anonymous/home/interactive-maps.html.twig" %}
    </section> #}

    <section class="home-article">
        <div class="slider owl-carousel">
            <div class="card">
                <div class="img">
                    <img src="{{ asset('content/img/Animalia.jpg') }}" alt="Animalia">
                </div>
                
                <div class="content">
                    <h5 class="title">Animalia</h5>
                    <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <div class="btn">
                        <a href="{{ path('articleLivingThing', {'name': 'animals'}) }}">See More</a>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="img">
                    <img src="{{ asset('content/img/Plantae.jpg') }}" alt="Plantae">
                </div>
                
                <div class="content">
                    <h5 class="title">Plantae</h5>
                    <p class="text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <div class="btn">
                        <a href="{{ path('articleLivingThing', {'name': 'plants'}) }}">See More</a>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="img">
                    <img src="{{ asset('content/img/Insecta.jpg') }}" alt="Insecta">
                </div>
                
                <div class="content">
                    <h5 class="title">Insecta</h5>
                    <p class="text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <div class="btn">
                        <a href="{{ path('articleLivingThing', {'name': 'insects'}) }}">See More</a>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="img">
                    <img src="{{ asset('content/img/Bacteria.jpg') }}" alt="Bacteria">
                </div>
                
                <div class="content">
                    <h5 class="title">Bacteria</h5>
                    <p class="text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <div class="btn">
                        <a href="{{ path('articleLivingThing', {'name': 'bacteria'}) }}">See More</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {% if countrys != [] %}
        <section class="home-countrys">
            <div class="countrys">
                {% for oneCountry in countrys %}
                    <ul class="countrys-content">
                        {% for country in oneCountry %}
                            <li class="fromLeft">
                                <a href="{{ path('countryArticle', {'country': country.treatedCountryName|lower}) }}">{{ country.name }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                {% endfor %}
            </div>
        </section>
    {% endif %}
{% endblock %}
