{% extends 'anonymous/baseAnonymous.html.twig' %}

{% block body %}
    <section class="home">
        <div class="fluid-container home-content">
            <h2 class="c-white">The Encyclopedia of the Earth</h2>
            
            <form action="{{ path('search') }}" method="post">
                <input type="text" name="searchInput" placeholder="Search ..." required>
                <button type="submit"><i class="fas fa-search"></i></button>
            </form>
        </div>
    </section>

    <section class="home-article bg-lightGrey">
        <div class="slider owl-carousel">
            {# <div class="card">
                <div class="img">
                    <img src="{{ asset('content/img/Animalia.jpg') }}" alt="Animalia">
                </div>
                
                <div class="content">
                    <h5 class="title">Animalia</h5>
                    <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a class="btn" href="{{ path('articleLivingThing', {'name': 'animals'}) }}">See More</a>
                </div>
            </div>

            <div class="card">
                <div class="img">
                    <img src="{{ asset('content/img/Plantae.jpg') }}" alt="Plantae">
                </div>
                
                <div class="content">
                    <h5 class="title">Plantae</h5>
                    <a class="btn" href="{{ path('articleLivingThing', {'name': 'plants'}) }}">See More</a>
                </div>
            </div>

            <div class="card">
                <div class="img">
                    <img src="{{ asset('content/img/Fungi.jpg') }}" alt="Fungi">
                </div>
                
                <div class="content">
                    <h5 class="title">Fungi</h5>
                    <a class="btn" href="{{ path('articleLivingThing', {'name': 'fungi'}) }}">See More</a>
                </div>
            </div>

            <div class="card">
                <div class="img">
                    <img src="{{ asset('content/img/Bacteria.jpg') }}" alt="Bacteria">
                </div>
                
                <div class="content">
                    <h5 class="title">Bacteria</h5>
                    <a class="btn" href="{{ path('articleLivingThing', {'name': 'bacteria'}) }}">See More</a>
                </div>
            </div>

            <div class="card">
                <div class="img">
                    <img src="{{ asset('content/img/Viruses.jpg') }}" alt="Viruses">
                </div>
                
                <div class="content">
                    <h5 class="title">Viruses</h5>
                    <a class="btn" href="{{ path('articleLivingThing', {'name': 'viruses'}) }}">See More</a>
                </div>
            </div> #}

            <div class="card">
                <div class="img">
                    <img src="{{ asset('content/img/Atome.jpg') }}" alt="Elements">
                </div>
                
                <div class="content">
                    <h5 class="title">Elements</h5>
                    <a class="btn" href="{{ path("articleElement") }}">See More</a>
                </div>
            </div>

            <div class="card">
                <div class="img">
                    <img src="{{ asset('content/img/Minerals.jpg') }}" alt="Minerals">
                </div>
                
                <div class="content">
                    <h5 class="title">Minerals</h5>
                    <a class="btn" href="{{ path("articleMineral") }}">See More</a>
                </div>
            </div>

            <div class="card">
                <div class="img">
                    <img src="{{ asset('content/img/Rocks.jpg') }}" alt="Rocks">
                </div>
                
                <div class="content">
                    <h5 class="title">Rocks</h5>
                    <a class="btn" href="{{ path("articleMineral") }}">See More</a>
                </div>
            </div>
        </div>
    </section>

    {# {% if countrys != [] %}
        <section class="home-countrys">
            <div class="countrys">
                {% for oneCountry in countrys %}
                    <ul class="countrys-content">
                        {% for country in oneCountry %}
                            <li>
                                <a href="{{ path('countryArticle', {'country': country.treatedCountryName|lower}) }}">{{ country.name }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                {% endfor %}
            </div>
        </section>
    {% endif %} #}

    <section class="home-about">
        <div class="about">
            <div class="wrapper">
                <div class="about-title">About Us</div>
                <div class="about-content">
                    <div class="about-intro">
                        <p>WikiEarth is an online free encyclopedia project, universal and working using the same model as Wikipedia, the freely editable.</p>
                        <p>WikiEarth propose and expose diferent article about animals, plants, bacteries, virues and all other know form of life, elements from the periodic table and how the ecosystem work we can find on the Earth.</p>
                        <p>We, the WikiEarth Team, take time to check every article, every content we present. We want to confirm to the fiability and quality of the information.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="home-nbrArticles bg-lightGrey">
        <div class="nbrArticles">
            <div class="nbrArticles-articles">
                <span class="txt-bold">{{ nbrArticles }}</span>
                <span>Articles</span>
            </div>

            <div class="nbrArticles-details">
                {# <div class="nbrArticles-content">
                    <span class="txt-bold">{{ nbrLivingThings }}</span>
                    <span class="txt-size-middle">Living Things</span>
                </div> #}

                <div class="nbrArticles-content">
                    <span class="txt-bold">{{ nbrElements }}</span>
                    <span class="txt-size-middle">Elements</span>
                </div>

                <div class="nbrArticles-content">
                    <span class="txt-bold">{{ nbrMinerals }}</span>
                    <span class="txt-size-middle">Minerals</span>
                </div>

                {# <div class="nbrArticles-content">
                    <span class="txt-bold">{{ nbrChimicalReactions }}</span>
                    <span class="txt-size-middle">Chimical Reactions</span>
                </div> #}
            </div>
        </div>
    </section>
{% endblock %}
