{% extends 'user/baseUser.html.twig' %}

{% block body %}
    <section class="notification bg-lightGrey">
        <div class="notification-content">
            <div class="notification-header">
                <h2 class="notification-title">Notification</h2>
            </div>

            <div class="notification-body">
                {# <div class="notice info"><p>This is a an info notice, it provides feedback of a neutral nature to the user.</p></div>
                <div class="notice success"><p>This is a success notice, it provides feedback of a positive nature to the user.</p></div>
                <div class="notice warning"><p>This is a warning notice, it provides feedback of a potentially negative nature to the user.</p></div>
                <div class="notice error"><p>This is an error notice, it provides feedback of a negative nature to the user.</p></div> #}
                
                {% if notifications != [] %}
                    {% for notification in notifications %}
                        <div class="notice {{ notification.type }}">
                            <span>{{ notification.content }}</span>
                            <span>Created at {{ notification.createdAt|date('Y-m-d H:s:i') }}</span>
                        </div>
                    {% endfor %}

                    {# Pagination #}
                    {% if offset >= 1 and offset <= nbrPage %}
                        <div class="pagination">
                            <div class="pagination-links">
                                {% if offset > 1 %}
                                    <a href="{{ path('userNotifs', {'offset': 1}) }}"><i class="fas fa-angle-double-left"></i></a>
                                {% endif %}
                            
                                {% if offset - 1 >= 1 %}
                                    <a class="" href="{{ path('userNotifs', {'offset': offset - 1}) }}">{{ offset - 1 }}</a>
                                {% endif %}

                                <a class="active" href="{{ path('userNotifs', {'offset': offset}) }}"><span>{{ offset }}</span></a>
                                
                                {% if offset + 1 <= nbrPage %}
                                    <a class="" href="{{ path('userNotifs', {'offset': offset + 1}) }}">{{ offset + 1 }}</a>
                                {% endif %}
                                
                                {% if offset < nbrPage %}
                                    <a href="{{ path('userNotifs', {'offset': nbrPage}) }}"><i class="fas fa-angle-double-right"></i></a>
                                {% endif %}
                            </div>
                        </div>
                    {% endif %}
                {% else %}
                    <div class="alert alert-info">
                        <span>You have no notifications</span>
                    </div>
                {% endif %}
            </div>
        </div>
    </section>
{% endblock %}
