{% extends 'admin/baseAdmin.html.twig' %}

{% block body %}
    <section class="admin-home">

        {# Résumé #}
        <div class="resume">
            <div class="row">

                {# Users #}
                <div class="col-md-2 col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <div>
                                <span>Users</span>
                            </div>

                            <div>
                                <span>{{ nbrUsers }}</span>
                            </div>
                        </div>
                    </div>
                </div>

                {# Articles #}
                <div class="col-md-2 col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <div>
                                <span>Articles</span>
                            </div>
                            
                            <div>
                                <span>{{ nbrArticles }}</span>
                            </div>
                        </div>
                    </div>
                </div>

                {# Living Thing #}
                <div class="col-md-2 col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <div>
                                <span class="card-title">Living Thing</span>
                            </div>
                            
                            <div>
                                <span>{{ nbrLivingThings }}</span>
                            </div>
                        </div>
                    </div>
                </div>

                {# Elements #}
                <div class="col-md-2 col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <div>
                                <span class="card-title">Elements</span>
                            </div>

                            <div>
                                <span>{{ nbrElements }}</span>
                            </div>
                        </div>
                    </div>
                </div>

                {# Minerals #}
                <div class="col-md-2 col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <div>
                                <span class="card-title">Minerals</span>
                            </div>
                            
                            <div>
                                <span>{{ nbrMinerals }}</span>
                            </div>
                        </div>
                    </div>
                </div>

                {# Chimical Reaction #}
                <div class="col-md-2 col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <div>
                                <span class="card-title">Chimical Reaction</span>
                            </div>
                            
                            <div>
                                <span>{{ nbrChimicalReaction }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {# Statistique utilisateurs (création & connexion) #}
        <div class="stat-users">
            <div id="chartUser" style="height: 370px; width: 98.5%;" ></div>
        </div>

        {# Statistique articles #}
        <div class="stat-article"></div>
    </section>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/js/admin/main.js') }}" type="text/javascript"></script>
    <script src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js" type="text/javascript"></script>
    <script src="https://canvasjs.com/assets/script/jquery.canvasjs.min.js" type="text/javascript"></script>
    <script type="text/javascript">
        window.onload = function () {
        
            var chart = new CanvasJS.Chart("chartUser", {
                animationEnabled: true,
                theme: "light2",
                title:{
                    text: "User activity"
                },
                axisX:{
                    crosshair: {
                        enabled: true,
                        snapToDataPoint: true
                    }
                },
                axisY:{
                    title: "",
                    includeZero: true,
                    crosshair: {
                        enabled: true,
                        snapToDataPoint: true
                    }
                },
                toolTip:{
                    enabled: false
                },
                data: [{
                    type: "splineArea",
                    dataPoints: {{ dataPoints|json_encode(constant('JSON_NUMERIC_CHECK'))|raw }}
                }]
            });
            
            chart.render();
        }
    </script>
{% endblock %}