{% extends 'admin/baseAdmin.html.twig' %}

{% block body %}
    <section class="admin-home">
        <div class="container">
            <div class="row">
                <div class="col-2">
                    <div class="card">
                        <div class="card-body">
                            <div>
                                <span>Users</span>
                            </div>

                            <div>
                                <span>{{ nbrUsers }}</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-2">
                    <div class="card">
                        <div class="card-body">
                            <div>
                                <span>Articles</span>
                            </div>
                            
                            <div>
                                <span>{{ nbrArticles }}</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-2">
                    <div class="card">
                        <div class="card-body">
                            <div>
                                <span class="card-title">Living Thing</span>
                            </div>
                            
                            <div>
                                <span>{{ nbrLivingThings }}</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-2">
                    <div class="card">
                        <div class="card-body">
                            <div>
                                <span class="card-title">Elements</span>
                            </div>

                            <div>
                                <span>{{ nbrLivingThings }}</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-2">
                    <div class="card">
                        <div class="card-body">
                            <div>
                                <span class="card-title">Minerals</span>
                            </div>
                            
                            <div>
                                <span>{{ nbrLivingThings }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}