{% extends 'admin/baseAdmin.html.twig' %}

{% block body %}
<script>
    window.onload = function () {
    
        var chart = new CanvasJS.Chart("chartContainer", {
            animationEnabled: true,
            //theme: "light2",
            title:{
                text: "Salmon Production - 1997 to 2006"
            },
            axisX:{
                crosshair: {
                    enabled: true,
                    snapToDataPoint: true
                }
            },
            axisY:{
                title: "in Metric Tons",
                includeZero: true,
                crosshair: {
                    enabled: true,
                    snapToDataPoint: true
                }
            },
            toolTip:{
                enabled: false
            },
            data: [{
                type: "area",
                dataPoints: {{ dataPoints|json_encode(constant('JSON_NUMERIC_CHECK'))|raw }}
            }]
        });
        
        chart.render();
    }
</script>
    <section class="admin-home">

        {# Résumé #}
        <div class="resume">
            <div class="row">

                {# Users #}
                <div class="col-md-2 col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <div>
                                <span>Users</span>
                            </div>

                            <div>
                                <span>{{ nbrUsers }}</span>
                            </div>
                        </div>
                    </div>
                </div>

                {# Articles #}
                <div class="col-md-2 col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <div>
                                <span>Articles</span>
                            </div>
                            
                            <div>
                                <span>{{ nbrArticles }}</span>
                            </div>
                        </div>
                    </div>
                </div>

                {# Living Thing #}
                <div class="col-md-2 col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <div>
                                <span class="card-title">Living Thing</span>
                            </div>
                            
                            <div>
                                <span>{{ nbrLivingThings }}</span>
                            </div>
                        </div>
                    </div>
                </div>

                {# Elements #}
                <div class="col-md-2 col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <div>
                                <span class="card-title">Elements</span>
                            </div>

                            <div>
                                <span>{{ nbrElements }}</span>
                            </div>
                        </div>
                    </div>
                </div>

                {# Minerals #}
                <div class="col-md-2 col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <div>
                                <span class="card-title">Minerals</span>
                            </div>
                            
                            <div>
                                <span>{{ nbrMinerals }}</span>
                            </div>
                        </div>
                    </div>
                </div>

                {# Chimical Reaction #}
                <div class="col-md-2 col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <div>
                                <span class="card-title">Chimical Reaction</span>
                            </div>
                            
                            <div>
                                <span>{{ nbrChimicalReaction }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {# Statistique utilisateurs (création & connexion) #}
        <div class="stat-users">
            <div id="chartContainer" style="height: 370px; width: 100%;"></div>
        </div>

        {# Statistique articles #}
        <div class="stat-article"></div>
    </section>

<script src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>
<script src="https://canvasjs.com/assets/script/jquery.canvasjs.min.js"></script>
{% endblock %}