{% extends 'admin/baseAdmin.html.twig' %}

{% block body %}
    <section class="admin-home">
        <div class="resume">
            <div class="row">

                {# Users #}
                <div class="col-md-2 col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <div>
                                <span>Users</span>
                            </div>

                            <div>
                                <span>{{ nbrUsers }}</span>
                            </div>
                        </div>
                    </div>
                </div>

                {# Articles #}
                <div class="col-md-2 col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <div>
                                <span>Articles</span>
                            </div>
                            
                            <div>
                                <span>{{ nbrArticles }}</span>
                            </div>
                        </div>
                    </div>
                </div>

                {# Living Thing #}
                <div class="col-md-2 col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <div>
                                <span class="card-title">Living Thing</span>
                            </div>
                            
                            <div>
                                <span>{{ nbrLivingThings }}</span>
                            </div>
                        </div>
                    </div>
                </div>

                {# Elements #}
                <div class="col-md-2 col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <div>
                                <span class="card-title">Elements</span>
                            </div>

                            <div>
                                <span>{{ nbrElements }}</span>
                            </div>
                        </div>
                    </div>
                </div>

                {# Minerals #}
                <div class="col-md-2 col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <div>
                                <span class="card-title">Minerals</span>
                            </div>
                            
                            <div>
                                <span>{{ nbrMinerals }}</span>
                            </div>
                        </div>
                    </div>
                </div>

                {# Chimical Reaction #}
                <div class="col-md-2 col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <div>
                                <span class="card-title">Chimical Reaction</span>
                            </div>
                            
                            <div>
                                <span>{{ nbrChimicalReaction }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="stat"></div>
    </section>
{% endblock %}