{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link href="{{ asset('assets/css/chat/main.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
    <section class="chat">

        {# Users #}
        <div class="chat-users">
            <div class="user-profile">
                <div class="profile-img">
                    <img src="{{ asset(file_exist(user.imgPath)) }}" alt="{{ user.firstname }} {{ user.lastname }}" />
                </div>
                <div class="profile-username">
                    <span>{{ user.firstname }} {{ user.lastname }}</span>
                    <span>{{ user.email }}</span>
                </div>
            </div>

            <div class="users-search">
                <div class="search-form">
                    <button><i class="fas fa-search"></i></button>
                    <input type="text" name="searchUser" placeholder="Search a person" />
                </div>
            </div>

            <div class="users-list">
                {% for i, oneDiscussion in startedDiscussions %}
                    <a class="user-block {% if oneDiscussion.isCurrent == true %} current-discussion {% endif %}" href="{{ path('adminChat', {"user": oneDiscussion.id}) }}">
                        <div class="user-img">
                            <img class="img-rounded" src="{{ asset(oneDiscussion.image) }}" />
                        </div>
                        <div class="user-descr">
                            <span class="user-name">{{ oneDiscussion.firstname }} {{ oneDiscussion.lastname }}</span>
                            <span class="user-lastmessage">{{ oneDiscussion.lastMessage }}</span>
                        </div>
                    </a>
                    <a class="user-block {% if oneDiscussion.isCurrent == true %} current-discussion {% endif %}" href="{{ path('adminChat', {"user": oneDiscussion.id}) }}">
                        <div class="user-img">
                            <img class="img-rounded" src="{{ asset(oneDiscussion.image) }}" />
                        </div>
                        <div class="user-descr">
                            <span class="user-name">{{ oneDiscussion.firstname }} {{ oneDiscussion.lastname }}</span>
                            <span class="user-lastmessage">{{ oneDiscussion.lastMessage }}</span>
                        </div>
                    </a>
                    <a class="user-block {% if oneDiscussion.isCurrent == true %} current-discussion {% endif %}" href="{{ path('adminChat', {"user": oneDiscussion.id}) }}">
                        <div class="user-img">
                            <img class="img-rounded" src="{{ asset(oneDiscussion.image) }}" />
                        </div>
                        <div class="user-descr">
                            <span class="user-name">{{ oneDiscussion.firstname }} {{ oneDiscussion.lastname }}</span>
                            <span class="user-lastmessage">{{ oneDiscussion.lastMessage }}</span>
                        </div>
                    </a>
                {% endfor %}
            </div>

            <div class="user-settings">
                <a href=""><i class="fas fa-user-plus"></i> New discussion</a>
            </div>
        </div>

        {# Discussion #}
        <div class="chat-discussion">
            <div class="discussion-panel">
                <div class="discussion-block">
                    <div class="discussion inverted">
                        <span>Hello</span>
                    </div>
                    <div class="discussion ordered">
                        <span>Hi !</span>
                    </div>
                    <div class="discussion inverted">
                        <span>How are you ?</span>
                    </div>
                    <div class="discussion ordered">
                        <span>Fine ?</span>
                    </div>
                    <div class="discussion inverted">
                        <span>Something happened ?</span>
                    </div>
                    <div class="discussion ordered">
                        <span>I'm currently researching the name of a bird species for a half-hours and I'm tired of searching !</span>
                    </div>
                    <div class="discussion inverted">
                        <span>I understand your feeling. Can you send me the picture of that bird ? I can help you.</span>
                    </div>
                    <div class="discussion ordered">
                        <span>Yeah, i'll send you in a minute</span>
                    </div>
                    <div class="discussion ordered">
                        {# <img src="{{ asset("/content/wikiearth/living-thing/animalia/Canis Lupus.jpeg") }}" /> #}
                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/54/Long-tailed_Duck_RWD2.jpg/2560px-Long-tailed_Duck_RWD2.jpg" />
                    </div>
                    <div class="discussion ordered">
                        <span>Thanks for your help</span>
                    </div>
                    <div class="discussion inverted">
                        <span>This one is male "Clangula hyemalis", it's a beautiful bird.</span>
                    </div>
                </div>
            </div>
            <div class="discussion-bar">
                <input type="text" name="message" placeholder="Message . . ." />
                <button><i class="fas fa-paper-plane"></i></button>
            </div>
        </div>
    </section>
{% endblock %}
