{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link href="{{ asset('assets/css/chat/main.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
    <section class="chat">

        {# Users #}
        <div class="chat-users">
            <div class="users-list">
                <button class="user-add-discussion">Add a new discussion</button>

                {% for i, oneDiscussion in startedDiscussions %}
                    {# User block {{ key }} #}
                    <a class="user-block {% if oneDiscussion.isCurrent == true %} current-discussion {% endif %}" href="{{ path('adminChat', {"user": oneDiscussion.id}) }}">
                        <div class="user-img">
                            <img class="img-rounded" src="{{ asset(oneDiscussion.image) }}" />
                        </div>
                        <div class="user-descr">
                            <span class="user-name">{{ oneDiscussion.firstname }} {{ oneDiscussion.lastname }}</span>
                            <span class="user-lastmessage">{{ oneDiscussion.lastMessage }}</span>
                        </div>
                    </a>
                {% endfor %}
            </div>
        </div>

        {# Discussion #}
        <div class="chat-discussion">
            <div class="discussion-panel">
                <div class="discussion-block">
                    <div class="discussion inverted">
                        <span>Hello</span>
                    </div>
                    <div class="discussion ordered">
                        <span>Hi !</span>
                    </div>
                    <div class="discussion inverted">
                        <span>How are you ?</span>
                    </div>
                    <div class="discussion ordered">
                        <span>Fine ?</span>
                    </div>
                    <div class="discussion inverted">
                        <span>Something happened ?</span>
                    </div>
                    <div class="discussion ordered">
                        <span>I'm currently researching the name of a bird species for a half-hours and I'm tired of searching !</span>
                    </div>
                    <div class="discussion inverted">
                        <span>I understand your feeling. Can you send me the picture of that bird ? I can help you.</span>
                    </div>
                    <div class="discussion ordered">
                        <span>Yeah, i'll send you in a minute</span>
                    </div>
                    <div class="discussion ordered">
                        <span>Thanks</span>
                    </div>
                    <div class="discussion ordered">
                        <img src="{{ asset("/content/wikiearth/living-thing/animalia/Canis Lupus.jpeg") }}" />
                    </div>
                    <div class="discussion inverted">
                        <img src="{{ asset("/content/wikiearth/living-thing/animalia/Canis Lupus.jpeg") }}" />
                    </div>
                </div>
            </div>
            <div class="discussion-bar">
                <input type="text" name="message" placeholder="Message . . ." />
                <button><i class="fas fa-paper-plane"></i></button>
            </div>
        </div>
    </section>
{% endblock %}
