{% extends 'admin/baseAdmin.html.twig' %}

{% block body %}
    <section class="wikiearth-article">
        <div class="container">
            <a class="btn btn-primary" href="{{ path('adminArticleByCategory', {'category': category}) }}"><i class="fa fa-arrow-left"></i> Retour</a>

            <div>&nbsp;</div>
            <div class="article-mineral">
                <h1>{{ article.title }}</h1>

                <div class="mineral-data-section txt-center">
                    <table class="table w-350px m-auto">
                        <tr>
                            <td colspan="2"><img class="img-fluid" src="{{ asset(file_exist(article.articleElement.element.imgPath)) }}" alt="{{ article.articleElement.element.name }}"></td>
                        </tr>
                        <tr>
                            <td>Scientific Name</td>
                            <td>{{ article.articleElement.element.scientificName }}</td>
                        </tr>
                        <tr>
                            <td>Radioisotope</td>
                            <td>{{ article.articleElement.element.radioisotope }}</td>
                        </tr>
                        <tr>
                            <td>Number</td>
                            <td>{{ article.articleElement.element.atomicNumber }}</td>
                        </tr>
                        <tr>
                            <td>Symbole</td>
                            <td>{{ article.articleElement.element.symbole }}</td>
                        </tr>
                        <tr>
                            <td>Group</td>
                            <td>{{ article.articleElement.element.atomeGroup }}</td>
                        </tr>
                        <tr>
                            <td>Period</td>
                            <td>{{ article.articleElement.element.atomePeriod }}</td>
                        </tr>
                        <tr>
                            <td>Block</td>
                            <td>{{ article.articleElement.element.atomeBlock }}</td>
                        </tr>
                        <tr>
                            <td>Volumic Mass</td>
                            <td>{{ article.articleElement.element.volumicMass|join(", ") }}</td>
                        </tr>
                        <tr>
                            <td>Num CAS</td>
                            <td>{{ article.articleElement.element.numCAS }}</td>
                        </tr>
                        <tr>
                            <td>Num CE</td>
                            <td>{{ article.articleElement.element.numCE }}</td>
                        </tr>
                        <tr>
                            <td>Atomic Mass</td>
                            <td>{{ article.articleElement.element.atomicMass }}</td>
                        </tr>
                        <tr>
                            <td>Atomic Radius</td>
                            <td>{{ article.articleElement.element.atomicRadius }}</td>
                        </tr>
                        <tr>
                            <td>Covalent Radius</td>
                            <td>{{ article.articleElement.element.covalentRadius }}</td>
                        </tr>
                        <tr>
                            <td>Van Der Waals Radius</td>
                            <td>{{ article.articleElement.element.vanDerWaalsRadius }}</td>
                        </tr>
                        <tr>
                            <td>Electronique Configuration</td>
                            <td>{{ article.articleElement.element.electroniqueConfiguration }}</td>
                        </tr>
                        <tr>
                            <td>Oxidation State</td>
                            <td>{{ article.articleElement.element.oxidationState }}</td>
                        </tr>
                        <tr>
                            <td>Electronegativity</td>
                            <td>{{ article.articleElement.element.electronegativity }}</td>
                        </tr>
                        <tr>
                            <td>Fusion Point</td>
                            <td>{{ article.articleElement.element.fusionPoint }}</td>
                        </tr>
                        <tr>
                            <td>Boiling Point</td>
                            <td>{{ article.articleElement.element.boilingPoint }}</td>
                        </tr>
                        <tr>
                            <td>Radioactivity</td>
                            <td>{{ article.articleElement.element.radioactivity ? "Oui" : "Non" }}</td>
                        </tr>
                    </table>
                </div>

                {% if article.articleElement.generality != [] %}
                    <div class="generalities-section">
                        <h2>Generalities</h2>
                        {% for generality in article.articleElement.generality %}
                            <div class="generality">
                                <h3>{{ generality.sub_title }}</h3>
                                <p>{{ generality.sub_content }}</p>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %} 

                {% if article.articleElement.description != [] %}
                    <div class="description-section">
                        <h2>Etymologies</h2>
                        {% for description in article.articleElement.description %}
                            <div class="description">
                                <h3>{{ description.sub_title }}</h3>
                                <p>{{ description.sub_content }}</p>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}

                {% if article.articleElement.characteristics != [] %}
                    <div class="characteristics-section">
                        <h2>Etymologies</h2>
                        {% for characteristics in article.articleElement.characteristics %}
                            <div class="characteristic">
                                <h3>{{ characteristics.sub_title }}</h3>
                                <p>{{ characteristics.sub_content }}</p>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}


                {% if article.articleElement.property != [] %}
                <div class="properties-section">
                    <h2>Properties</h2>
                    {% for property in article.articleElement.property %}
                        <div class="property">
                            <h3>{{ property.sub_title }}</h3>
                            <p>{{ property.sub_content }}</p>
                        </div>
                    {% endfor %}
                </div>
                {% endif %}

                {% if article.articleElement.utilization != [] %}
                    <div class="geologies-section">
                        <h2>Geologies</h2>
                        {% for utilization in article.articleElement.utilization %}
                            <div class="utilization">
                                <h3>{{ utilization.sub_title }}</h3>
                                <p>{{ utilization.sub_content }}</p>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>

            {% if article.approved == false %}
                <a class="btn btn-success" href="{{ path('adminApproveArticleByCategory', {'category': category, 'id': article.id}) }}"><i class="fas fa-check"></i> Approve</a>
            {% endif %}
            <a class="btn btn-primary" href="{{ path('adminEditArticleByCategory', {'id': article.id, 'category': category}) }}"><i class="far fa-edit"></i> Edit</a>
            <a class="btn btn-danger" href="{{ path('adminDeleteArticleByCategory', {'category': category, 'id': article.id}) }}" onClick="return confirm('Are you sure you want to delete this article (and the element) ?');"><i class="far fa-trash-alt"></i> Delete</a>
            {# <button id="deleteArticle" class="btn btn-danger" data-category="{{ category }}" data-articleId="{{ article.id }}"><i class="far fa-trash-alt"></i></button> #}
        </div>
    </section>
{% endblock %}