{% extends 'admin/baseAdmin.html.twig' %}

{% block body %}
    <section class="wikiearth-article">
        <div class="element">
            
            <a class="btn btn-custom-green" href="{{ path('adminAddElement') }}">ADD</a>

            {% if elements != [] %}
                {% for element in elements %}
                    <li class="media h-150px">
                        <div class="media-header">
                            <img class="img-fluid" src="{{ asset(element.imgPath != null ? element.imgPath : "content/wikiearth/thumbnail.jpg") }}" alt="{{ element.name }}">
                        </div>
                        <div class="media-body">
                            <h5 class="media-body-title">{{ element.name }}</h5>
                            <a class="btn btn-success" href="{{ path('adminEditElement', {'id': element.id}) }}"><i class="far fa-edit"></i></a>
                            <a class="btn btn-danger" href="{{ path('adminDeleteElement', {'id': element.id}) }}"><i class="far fa-trash-alt"></i></a>
                        </div>
                    </li>
                {% endfor %}

                {# Pagination #}
                {% if offset >= 1 and offset <= nbrOffset %}
                    <div class="pagination">
                        <div class="pagination-links">
                            {% if offset - 1 >= 1 %}
                                <a href="{{ path('adminElement', {'offset': 1}) }}"><i class="fas fa-angle-double-left"></i></a>
                                <a class="" href="{{ path('adminElement', {'offset': offset - 1}) }}">{{ offset - 1 }}</a>
                            {% endif %}

                            <a class="active" href="{{ path('adminElement', {'offset': offset}) }}"><span>{{ offset }}</span></a>
                            
                            {% if offset + 1 <= nbrOffset %}
                                <a class="" href="{{ path('adminElement', {'offset': offset + 1}) }}">{{ offset + 1 }}</a>
                                <a href="{{ path('adminElement', {'offset': nbrOffset}) }}"><i class="fas fa-angle-double-right"></i></a>
                            {% endif %}
                        </div>
                    </div>
                {% endif %}
            {% else %}
                <div>&nbsp;</div>
                <div class="alert alert-danger">
                    <span>No result has been found</span>
                </div>
            {% endif %}
        </div>
    </section>
{% endblock %}