{% extends 'user/baseUser.html.twig' %}

{% block body %}
    <div class="container">
        <div>&nbsp;</div>

        <h2>Living Thing</h2>

        {{ form_start(formLivingThing, {"method": "POST"}) }}
            <div class="row">
                <div class="form-group col-md-12 col-lg-12 wow fadeInUp animated">
                    {{ form_label(formLivingThing.imgPath) }}
                    {{ form_widget(formLivingThing.imgPath) }}
                </div>

                <div class="form-group col-md-12 col-lg-12 wow fadeInUp animated">
                    {{ form_label(formLivingThing.commonName) }}
                    {{ form_widget(formLivingThing.commonName) }}
                </div>

                <div class="form-group col-md-12 col-lg-12 wow fadeInUp animated">
                    {{ form_label(formLivingThing.name) }}
                    {{ form_widget(formLivingThing.name) }}
                </div>

                <div class="form-group col-md-12 col-lg-12 wow fadeInUp animated">
                    {{ form_label(formLivingThing.kingdom) }}
                    {{ form_widget(formLivingThing.kingdom) }}
                </div>

                <div class="form-group col-md-12 col-lg-12 wow fadeInUp animated">
                    {{ form_label(formLivingThing.subKingdom) }}
                    {{ form_widget(formLivingThing.subKingdom) }}
                </div>

                <div class="form-group col-md-12 col-lg-12 wow fadeInUp animated">
                    {{ form_label(formLivingThing.domain) }}
                    {{ form_widget(formLivingThing.domain) }}
                </div>

                <div class="form-group col-md-12 col-lg-12 wow fadeInUp animated">
                    {{ form_label(formLivingThing.branch) }}
                    {{ form_widget(formLivingThing.branch) }}
                </div>

                <div class="form-group col-md-12 col-lg-12 wow fadeInUp animated">
                    {{ form_label(formLivingThing.subBranch) }}
                    {{ form_widget(formLivingThing.subBranch) }}
                </div>

                <div class="form-group col-md-12 col-lg-12 wow fadeInUp animated">
                    {{ form_label(formLivingThing.infraBranch) }}
                    {{ form_widget(formLivingThing.infraBranch) }}
                </div>

                <div class="form-group col-md-12 col-lg-12 wow fadeInUp animated">
                    {{ form_label(formLivingThing.division) }}
                    {{ form_widget(formLivingThing.division) }}
                </div>

                <div class="form-group col-md-12 col-lg-12 wow fadeInUp animated">
                    {{ form_label(formLivingThing.superClass) }}
                    {{ form_widget(formLivingThing.superClass) }}
                </div>

                <div class="form-group col-md-12 col-lg-12 wow fadeInUp animated">
                    {{ form_label(formLivingThing.class) }}
                    {{ form_widget(formLivingThing.class) }}
                </div>

                <div class="form-group col-md-12 col-lg-12 wow fadeInUp animated">
                    {{ form_label(formLivingThing.subClass) }}
                    {{ form_widget(formLivingThing.subClass) }}
                </div>

                <div class="form-group col-md-12 col-lg-12 wow fadeInUp animated">
                    {{ form_label(formLivingThing.infraClass) }}
                    {{ form_widget(formLivingThing.infraClass) }}
                </div>

                <div class="form-group col-md-12 col-lg-12 wow fadeInUp animated">
                    {{ form_label(formLivingThing.superOrder) }}
                    {{ form_widget(formLivingThing.superOrder) }}
                </div>

                <div class="form-group col-md-12 col-lg-12 wow fadeInUp animated">
                    {{ form_label(formLivingThing.normalOrder) }}
                    {{ form_widget(formLivingThing.normalOrder) }}
                </div>

                <div class="form-group col-md-12 col-lg-12 wow fadeInUp animated">
                    {{ form_label(formLivingThing.subOrder) }}
                    {{ form_widget(formLivingThing.subOrder) }}
                </div>

                <div class="form-group col-md-12 col-lg-12 wow fadeInUp animated">
                    {{ form_label(formLivingThing.infraOrder) }}
                    {{ form_widget(formLivingThing.infraOrder) }}
                </div>

                <div class="form-group col-md-12 col-lg-12 wow fadeInUp animated">
                    {{ form_label(formLivingThing.microOrder) }}
                    {{ form_widget(formLivingThing.microOrder) }}
                </div>

                <div class="form-group col-md-12 col-lg-12 wow fadeInUp animated">
                    {{ form_label(formLivingThing.superFamily) }}
                    {{ form_widget(formLivingThing.superFamily) }}
                </div>

                <div class="form-group col-md-12 col-lg-12 wow fadeInUp animated">
                    {{ form_label(formLivingThing.family) }}
                    {{ form_widget(formLivingThing.family) }}
                </div>

                <div class="form-group col-md-12 col-lg-12 wow fadeInUp animated">
                    {{ form_label(formLivingThing.subFamily) }}
                    {{ form_widget(formLivingThing.subFamily) }}
                </div>

                <div class="form-group col-md-12 col-lg-12 wow fadeInUp animated">
                    {{ form_label(formLivingThing.genus) }}
                    {{ form_widget(formLivingThing.genus) }}
                </div>

                <div class="form-group col-md-12 col-lg-12 wow fadeInUp animated">
                    {{ form_label(formLivingThing.subGenus) }}
                    {{ form_widget(formLivingThing.subGenus) }}
                </div>

                <div class="form-group col-md-12 col-lg-12 wow fadeInUp animated">
                    {{ form_label(formLivingThing.species) }}
                    {{ form_widget(formLivingThing.species) }}
                </div>

                <div class="form-group col-md-12 col-lg-12 wow fadeInUp animated">
                    {{ form_label(formLivingThing.subSpecies) }}
                    {{ form_widget(formLivingThing.subSpecies) }}
                </div>

                <div class="form-group col-md-12 col-lg-12 wow fadeInUp animated">
                    <button class="btn btn-primary" type="submit">Valider</button>
                </div>
            </div>
        {{ form_end(formLivingThing, {"method": "POST"}) }}
    </div>
{% endblock %}
