{% extends 'user/baseUser.html.twig' %}

{% block body %}
    <div class="list-livingThing bg-lightGrey">
        <div class="list-livingThing-content">
            <div class="list-livingThing-header">
                <div class="list-livingThing-title">Living Thing</div>
            </div>

            <div class="list-livingThing-search">
                <form class="form" method="get" action="{{ path('userLivingThing') }}">
                    <div class="formSearch">
                        <input class="formSearch-input" type="search" name="search" placeholder="Search a living thing . . ." required>
                        <button class="formSearch-button">Search</button>
                    </div>
                </form>
            </div>

            <div class="list-livingThing-options row">
                {# <div class="col-4">
                    <div class="add--action">
                        <a class="btn btn-custom-green" href="{{ path('userAddLivingThing') }}">ADD</a>
                    </div>
                </div> #}

                <div class="col-4">
                    <div class="filter-by--action">
                        <label>Filter By</label>
                        <select id="filter-by-livingThing" name="filter-by-livingThing">
                            <option value="all" select>All</option>
                            <option value="have-article">Have an article</option>
                            <option value="not-have-article">Not have an article</option>
                        </select>
                    </div>
                </div>

                <div class="col-4">
                    <div class="category-by--action">
                        <label>Category By</label>
                        <select id="category-by-livingThing" name="category-by-livingThing">
                            <option value="all" selected>All</option>
                            <option value="animalia">Animals</option>
                            <option value="plantae">Plants</option>
                            <option value="insecta">Insecta</option>
                            <option value="bacteria">Bacteria</option>
                            <option value="virus">Virus</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="list-livingThing-wrapper">
                {% if livingThings != [] %}
                    {% for livingThing in livingThings %}
                        <div class="list-livingThing-box">
                            <div class="box-livingThing-img">
                                <img class="img-fluid" src="{{ asset(livingThing.imgPath != null ? livingThing.imgPath : "content/wikiearth/thumbnail.jpg") }}" alt="{{ livingThing.name }}">
                            </div>
                            <div class="box-livingThing-text">
                                <h4 class="title">{{ livingThing.name }}</h4>

                                <div class="box-livingThing-action">
                                    {% if livingThing.articleLivingThing != null %}
                                        <span class="c-red">Have an article</span>
                                        <a class="btn btn-custom-midnight" href="{{ path('articleLivingThingById', {'name': livingThing.kingdom|kingdom, 'id': livingThing.id}) }}">See Article</a>
                                    {% else %}
                                        <span class="c-green">No article found</span>
                                        <a class="btn btn-custom-midnight" href="{{ path('userLivingThingCreateArticle', {'id': livingThing.id}) }}">Create article</a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}

                    {# Pagination #}
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-center">
                            <li class="page-item {% if offset == 1 %} disabled {% endif %}">
                                <a class="page-link" href="{{ path("userLivingThing", {'search': search}) }}" tabindex="-1" aria-disabled="true"><i class="fas fa-angle-double-left"></i></a>
                            </li>
                            
                            {% if offset - 1 >= 1  %}
                                <li class="page-item"><a class="page-link" href="{{ path("userLivingThing", {'offset': (offset - 1), 'search': search}) }}">{{ offset - 1 }}</a></li>
                            {% endif %}

                            <li class="page-item"><a class="page-link" >{{ offset }}</a></li>

                            {% if offset + 1 <= total_page  %}
                                <li class="page-item"><a class="page-link" href="{{ path("userLivingThing", {'offset': (offset + 1), 'search': search}) }}">{{ offset + 1 }}</a></li>
                            {% endif %}

                            <li class="page-item {% if offset == total_page %} disabled {% endif %}">
                                <a class="page-link" href="{{ path("userLivingThing", {'offset': (total_page), 'search': search}) }}"><i class="fas fa-angle-double-right"></i></a>
                            </li>
                        </ul>
                    </nav>
                {% else %}
                    <div class="alert alert-info">
                        <span>No living thing has been found.</span>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}