{% extends 'user/baseUser.html.twig' %}

{% block body %}
    <div class="livingThing">
        <div class="livingThing-content">
            <div class="livingThing-header">
                <div class="livingThing-title">&nbsp;</div>
            </div>

            {% if livingThings != [] %}
                {% for livingThing in livingThings %}
                    <div class="livingThing-card">
                        <div class="">
                            <img style="max-width:120px;" class="img-fluid" src="{{ asset(livingThing.imgPath) }}" alt="{{ livingThing.name }}">
                        </div>
                        <div>
                            <h2 class="title">{{ livingThing.name }}</h2>
                            <span>Genus : {{ livingThing.genus }}</span>
                        </div>
                        <div>
                            <a class="btn btn-success" href="{{ path('userEditLivingThing', {'id':livingThing.id}) }}"><i class="fas fa-pencil-alt"></i></a>
                            <a class="btn btn-danger" href="{{ path('userDeleteLivingThing', {'id':livingThing.id}) }}"><i class="fas fa-times"></i></a>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
{% endblock %}