{% extends 'user/baseUser.html.twig' %}

{% block body %}
    <div class="list-livingThing bg-lightGrey">
        <div class="list-livingThing-content">
            <div class="list-livingThing-header">
                <div class="list-livingThing-title">Articles</div>
            </div>

            <div class="list-livingThing-search">
                <form class="form formSearch" method="post" action="{{ path('userArticle') }}">
                    <input class="formSearch-input" type="search" name="search" placeholder="Search a living thing . . ." required>
                    <button class="formSearch-button">Search</button>
                </form>
            </div>

            <div class="list-livingThing-options row">
                <div class="col-4">
                    <div class="add--action">
                        <a class="btn btn-custom-green" href="{{ path('userAddArticle') }}">ADD</a>
                    </div>
                </div>

                <div class="col-4">
                    <div class="category-by--action">
                        <label>Category By</label>
                        <select id="category-by-livingThing" name="category-by-livingThing">
                            <option value="all" selected>All</option>
                            <option value="animalia">Animals</option>
                            <option value="plantae">Plants</option>
                            <option value="insecta">Insecta</option>
                            <option value="bacteria">Bacteria</option>
                            <option value="virus">Virus</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="list-livingThing-wrapper">
                {% if articles != [] %}
                    {% for article in articles %}
                        <div class="list-livingThing-box">
                            <div class="box-livingThing-img">
                                <img class="img-fluid" src="{{ asset(article.idLivingThing.imgPath != null ? article.idLivingThing.imgPath : "content/wikiearth/thumbnail.jpg") }}" alt="{{ article.idLivingThing.name }}">
                            </div>
                            <div class="box-livingThing-text">
                                <h4 class="title">{{ article.title }}</h4>
                            
                                <div class="box-livingThing-action">
                                    <a class="btn btn-custom-midnight" href="{{ path('articleLivingThingById', {'name': article.idLivingThing.kingdom|kingdom, 'id': article.idLivingThing.id}) }}">See Article</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}

                    {# Pagination #}
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-center">
                            <li class="page-item {% if offset == 1 %} disabled {% endif %}">
                                <a class="page-link" href="{{ path("userLivingThing", {'search': search}) }}" tabindex="-1" aria-disabled="true"><i class="fas fa-angle-double-left"></i></a>
                            </li>
                            
                            {% if offset - 1 >= 1  %}
                                <li class="page-item"><a class="page-link" href="{{ path("userLivingThing", {'offset': (offset - 1), 'search': search}) }}">{{ offset - 1 }}</a></li>
                            {% endif %}

                            <li class="page-item"><a class="page-link" >{{ offset }}</a></li>

                            {% if offset + 1 <= total_page  %}
                                <li class="page-item"><a class="page-link" href="{{ path("userLivingThing", {'offset': (offset + 1),'search': search}) }}">{{ offset + 1 }}</a></li>
                            {% endif %}

                            <li class="page-item {% if offset == total_page %} disabled {% endif %}">
                                <a class="page-link" href="{{ path("userLivingThing", {'offset': (total_page), 'search': search}) }}"><i class="fas fa-angle-double-right"></i></a>
                            </li>
                        </ul>
                    </nav>
                {% else %}
                    <div class="alert alert-info">
                        <span>No article has been found</span>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}