<html>
    <head></head>
    <body>
        <section>
            <h1>{{ livingThing.title }}</h1>

            <img src="{{ asset(file_exist(livingThing.idLivingThing.imgPath)) }}" alt="{{ livingThing.title }}">

            {# Geography #}
            {% if livingThing.geography != null %}
                <div style="width: 150px;">
                    <h2>Geography</h2>
                    {% for oneGeography in livingThing.geography %}
                        <div>
                            <h3>{{ oneGeography.sub_title }}</h3>
                            <p style="text-align: justify; justify-content: start;">{{ oneGeography.sub_content }}</p>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}

            {# Ecology #}
            {% if livingThing.ecology != null %}
                <h2>Ecology</h2>
                {% for oneEcology in livingThing.ecology %}
                    <h3>{{ oneEcology.sub_title }}</h3>
                    <p>{{ oneEcology.sub_content }}</p>
                {% endfor %}
            {% endif %}

            {# Behaviour #}
            {% if livingThing.behaviour != null %}
                <h2>Behaviour</h2>
                {% for oneBehaviour in livingThing.behaviour %}
                    <h3>{{ oneBehaviour.sub_title }}</h3>
                    <p>{{ oneBehaviour.sub_content }}</p>
                {% endfor %}
            {% endif %}

            {# Way of Life #}
            {% if livingThing.wayOfLife != null %}
                <h2>Way Of Life</h2>
                {% for oneWayOfLife in livingThing.wayOfLife %}
                    <h3>{{ oneWayOfLife.sub_title }}</h3>
                    <p>{{ oneWayOfLife.sub_content }}</p>
                {% endfor %}
            {% endif %}

            {# Description #}
            {% if livingThing.description != null %}
                <h2>Description</h2>
                {% for oneDescription in livingThing.description %}
                    <h3>{{ oneDescription.sub_title }}</h3>
                    <p>{{ oneDescription.sub_content }}</p>
                {% endfor %}
            {% endif %}

            {# Other Information #}
            {% if livingThing.otherData != null %}
                <h2>Other Data</h2>
                {% for oneOtherData in livingThing.otherData %}
                    <h3>{{ oneOtherData.sub_title }}</h3>
                    <p>{{ oneOtherData.sub_content }}</p>
                {% endfor %}
            {% endif %}

            {# References / Sources #}
            {% if references != null %}
                <h2>References</h2>
                <ul>
                    {% for oneReferences in references %}
                        <li><a href="{{ oneReferences.link }}">{{ oneReferences.name }}</a></li>
                    {% endfor %}
                </ul>
            {% endif %}
        </section>
    </body>
</html>