{% extends 'admin/baseAdmin.html.twig' %}

{% block body %}
    <div class="container">
        {{ form_start(formArticle, {"method":"POST"}) }}
            <div class="row">
                <div class="form-group col-md-12 col-lg-12 wow fadeInUp animated">
                    {{ form_label(formArticle.title) }}
                    {{ form_widget(formArticle.title) }}
                </div>

                <div class="form-group col-md-12 col-lg-12 wow fadeInUp animated">
                    <h3>geography</h3>
                    {{ form_widget(formArticle.geography) }}
                </div>

                <div class="form-group col-md-12 col-lg-12 wow fadeInUp animated">
                    <h3>ecology</h3>
                    {{ form_widget(formArticle.ecology) }}
                </div>

                <div class="form-group col-md-12 col-lg-12 wow fadeInUp animated">
                    <h3>bahaviour</h3>
                    {{ form_widget(formArticle.bahaviour) }}
                </div>

                <div class="form-group col-md-12 col-lg-12 wow fadeInUp animated">
                    <h3>wayOfLife</h3>
                    {{ form_widget(formArticle.wayOfLife) }}
                </div>

                <div class="form-group col-md-12 col-lg-12 wow fadeInUp animated">
                    <h3>description</h3>
                    {{ form_widget(formArticle.description) }}
                </div>

                <div class="form-group col-md-12 col-lg-12 wow fadeInUp animated">
                    <h3>otherData</h3>
                    {{ form_widget(formArticle.otherData) }}
                </div>
            </div>
        {{ form_end(formArticle, {"method":"POST"}) }}
    </div>
{% endblock %}