{% extends 'admin/baseAdmin.html.twig' %}

{% block body %}
    <section class="wikiearth-article">
        <div class="container">
            <a class="btn btn-primary" href="{{ path('adminArticleByCategory', {'category': category}) }}"><i class="fa fa-arrow-left"></i> Retour</a>

            <div>&nbsp;</div>
            <div class="article-mineral">
                <h1>{{ article.title }}</h1>

                <div class="mineral-data-section txt-center">
                    <table class="table w-350px m-auto">
                        <tr>
                            <td colspan="2"><img class="img-fluid" src="{{ asset(file_exist(article.mineral.imgPath)) }}" alt="{{ article.mineral.name }}"></td>
                        </tr>
                        <tr>
                            <td>RRUFF Chemistry</td>
                            <td>{{ article.mineral.rruffChemistry }}</td>
                        </tr>
                        <tr>
                            <td>IMA Chemistry</td>
                            <td>{{ article.mineral.imaChemistry }}</td>
                        </tr>
                        <tr>
                            <td>Chemistry Elements</td>
                            <td>{{ article.mineral.chemistryElements }}</td>
                        </tr>
                        <tr>
                            <td>IMA Number</td>
                            <td>{{ article.mineral.imaNumber }}</td>
                        </tr>
                        <tr>
                            <td>IMA Status</td>
                            <td>{{ article.mineral.imaStatus|join(", ") }}</td>
                        </tr>
                        <tr>
                            <td>Structural Groupname</td>
                            <td>{{ article.mineral.structuralGroupname }}</td>
                        </tr>
                        <tr>
                            <td>Crystal System</td>
                            <td>{{ article.mineral.crystalSystem }}</td>
                        </tr>
                        <tr>
                            <td>Valence Elements</td>
                            <td>{{ article.mineral.valenceElements }}</td>
                        </tr>
                    </table>
                </div>

                {% if article.generality != [] %}
                    <div class="generalities-section">
                        <h2>Generalities</h2>
                        {% for generality in article.generality %}
                            <div class="generality">
                                <h3>{{ generality.sub_title }}</h3>
                                <p>{{ generality.sub_content }}</p>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}

                {% if article.etymology != [] %}
                    <div class="etymologies-section">
                        <h2>Etymologies</h2>
                        {% for etymology in article.etymology %}
                            <div class="etymology">
                                <h3>{{ etymology.sub_title }}</h3>
                                <p>{{ etymology.sub_content }}</p>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}

                {% if article.properties != [] %}
                <div class="properties-section">
                    <h2>Properties</h2>
                    {% for property in article.properties %}
                        <div class="property">
                            <h3>{{ property.sub_title }}</h3>
                            <p>{{ property.sub_content }}</p>
                        </div>
                    {% endfor %}
                </div>
                {% endif %}

                {% if article.geology != [] %}
                    <div class="geologies-section">
                        <h2>Geologies</h2>
                        {% for geology in article.geology %}
                            <div class="geology">
                                <h3>{{ geology.sub_title }}</h3>
                                <p>{{ geology.sub_content }}</p>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}

                {% if article.mining != [] %}
                    <div class="mining-section">
                        <h2>Mining</h2>
                        {% for mining in article.mining %}
                            <div class="mining">
                                <p><b>{{ mining.sub_title }}</b> &minus; {{ mining.sub_content }}</p>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>

            <a class="btn btn-success" href="{{ path('adminApproveArticleByCategory', {'category': category, 'id': article.id}) }}">Approve</a>
            <a class="btn btn-danger" href="{{ path('adminDeleteArticleByCategory', {'category': category, 'id': article.id}) }}" onClick="return confirm('Are you sure you want to delete this article (and the living thing) ?');"><i class="far fa-trash-alt"></i></a>
            {# <button id="deleteArticle" class="btn btn-danger" data-category="{{ category }}" data-articleId="{{ article.id }}"><i class="far fa-trash-alt"></i></button> #}
        </div>
    </section>
{% endblock %}