{% extends 'admin/baseAdmin.html.twig' %}

{% block body %}
    <div class="container">
        <a class="btn btn-primary" href="{{ path('adminArticleByCategory', {'category': category}) }}"><i class="fa fa-arrow-left"></i> Retour</a>
        <div>&nbsp;</div>

        {% if response != [] %}
            <div class="alert alert-{{ response.class }} txt-center">
                <span>{{ response.message }}</span>
            </div>
        {% endif %}

        {{ form_start(formArticle, {"method":"POST"}) }}
            <div class="row">
                <div class="form-group col-md-12 col-lg-12 wow fadeInUp animated">
                    <h3>Mineral</h3>
                    
                    <div class="row">
                        <div class="form-group col-md-12 col-lg-12 wow fadeInUp animated">
                            {{ form_widget(formArticle.mineral) }}
                        </div>
                    </div>
                </div>

                <div class="form-group col-md-12 col-lg-12 wow fadeInUp animated">
                    <h3>Generality</h3>
                    
                    <div class="row">
                        <div class="form-group col-md-12 col-lg-12 wow fadeInUp animated">
                            <ul class="generality-tags" data-prototype="{{ form_widget(formArticle.generality.vars.prototype)|e }}">
                                {% for generality in formArticle.generality %}
                                    <li class="form-group col-md-12 col-lg-12 wow fadeInUp animated">
                                        <div class="row">
                                            <div class="form-group col-md-12 col-lg-12 wow fadeInUp animated">
                                                {{ form_row(generality.sub_title) }}
                                            </div>
                                            <div class="form-group col-md-12 col-lg-12 wow fadeInUp animated">
                                                {{ form_row(generality.sub_content) }}
                                            </div>
                                        </div>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="form-group col-md-12 col-lg-12 wow fadeInUp animated">
                    <h3>Etymology</h3>
                    
                    <div class="row">
                        <div class="form-group col-md-12 col-lg-12 wow fadeInUp animated">
                            <ul class="etymology-tags" data-prototype="{{ form_widget(formArticle.etymology.vars.prototype)|e }}">
                                {% for etymology in formArticle.etymology %}
                                    <li class="form-group col-md-12 col-lg-12 wow fadeInUp animated">
                                        <div class="row">
                                            <div class="form-group col-md-12 col-lg-12 wow fadeInUp animated">
                                                {{ form_row(etymology.sub_title) }}
                                            </div>
                                            <div class="form-group col-md-12 col-lg-12 wow fadeInUp animated">
                                                {{ form_row(etymology.sub_content) }}
                                            </div>
                                        </div>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="form-group col-md-12 col-lg-12 wow fadeInUp animated">
                    <h3>Properties</h3>
                    
                    <div class="row">
                        <div class="form-group col-md-12 col-lg-12 wow fadeInUp animated">
                            <ul class="properties-tags" data-prototype="{{ form_widget(formArticle.properties.vars.prototype)|e }}">
                                {% for properties in formArticle.properties %}
                                    <li class="form-group col-md-12 col-lg-12 wow fadeInUp animated">
                                        <div class="row">
                                            <div class="form-group col-md-12 col-lg-12 wow fadeInUp animated">
                                                {{ form_row(properties.sub_title) }}
                                            </div>
                                            <div class="form-group col-md-12 col-lg-12 wow fadeInUp animated">
                                                {{ form_row(properties.sub_content) }}
                                            </div>
                                        </div>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="form-group col-md-12 col-lg-12 wow fadeInUp animated">
                    <h3>Geology</h3>
                    
                    <div class="row">
                        <div class="form-group col-md-12 col-lg-12 wow fadeInUp animated">
                            <ul class="geology-tags" data-prototype="{{ form_widget(formArticle.geology.vars.prototype)|e }}">
                                {% for geology in formArticle.geology %}
                                    <li class="form-group col-md-12 col-lg-12 wow fadeInUp animated">
                                        <div class="row">
                                            <div class="form-group col-md-12 col-lg-12 wow fadeInUp animated">
                                                {{ form_row(geology.sub_title) }}
                                            </div>
                                            <div class="form-group col-md-12 col-lg-12 wow fadeInUp animated">
                                                {{ form_row(geology.sub_content) }}
                                            </div>
                                        </div>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="form-group col-md-12 col-lg-12 wow fadeInUp animated">
                    <h3>Mining</h3>
                    
                    <div class="row">
                        <div class="form-group col-md-12 col-lg-12 wow fadeInUp animated">
                            <ul class="mining-tags" data-prototype="{{ form_widget(formArticle.mining.vars.prototype)|e }}">
                                {% for mining in formArticle.mining %}
                                    <li class="form-group col-md-12 col-lg-12 wow fadeInUp animated">
                                        <div class="row">
                                            <div class="form-group col-md-12 col-lg-12 wow fadeInUp animated">
                                                {{ form_row(mining.sub_title) }}
                                            </div>
                                            <div class="form-group col-md-12 col-lg-12 wow fadeInUp animated">
                                                {{ form_row(mining.sub_content) }}
                                            </div>
                                        </div>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="form-group col-md-12 col-lg-12 wow fadeInUp animated">
                    {{ form_row(formArticle.mediaGallery) }}
                </div>
            </div>
        {{ form_end(formArticle, {"method":"POST"}) }}
    </div>
{% endblock %}