{% extends 'admin/baseAdmin.html.twig' %}

{% block body %}
    <section>
        {% if response != [] %}
            <div class="alert alert-{{ response.class }} txt-center">
                <span>{{ response.message }}</span>
            </div>
        {% endif %}
        
        <div>&nbsp;</div>

        <h2>Mineral</h2>
        
        {{ form_start(formMineral, {"method": "POST"}) }}
            <div class="row">
                <div class="form-group col-md-12 col-lg-12 wow fadeInUp animated">
                    {{ form_row(formMineral.name) }}
                </div>

                <div class="form-group col-md-12 col-lg-12 wow fadeInUp animated">
                    {{ form_row(formMineral.imgPath) }}
                </div>

                <div class="form-group col-md-12 col-lg-12 wow fadeInUp animated">
                    {{ form_row(formMineral.rruffChemistry) }}
                </div>

                <div class="form-group col-md-12 col-lg-12 wow fadeInUp animated">
                    {{ form_row(formMineral.imaChemistry) }}
                </div>

                <div class="form-group col-md-12 col-lg-12 wow fadeInUp animated">
                    {{ form_row(formMineral.chemistryElements) }}
                </div>

                <div class="form-group col-md-12 col-lg-12 wow fadeInUp animated">
                    {{ form_row(formMineral.imaNumber) }}
                </div>

                <div class="form-group col-md-12 col-lg-12 wow fadeInUp animated">
                    {{ form_row(formMineral.imaStatus) }}
                </div>

                <div class="form-group col-md-12 col-lg-12 wow fadeInUp animated">
                    {{ form_row(formMineral.structuralGroupname) }}
                </div>

                <div class="form-group col-md-12 col-lg-12 wow fadeInUp animated">
                    {{ form_row(formMineral.crystalSystem) }}
                </div>

                <div class="form-group col-md-12 col-lg-12 wow fadeInUp animated">
                    {{ form_row(formMineral.valenceElements) }}
                </div>

                <div class="form-group col-md-12 col-lg-12 wow fadeInUp animated">
                    {{ form_row(formMineral.country) }}
                </div>

                <div class="form-group col-md-12 col-lg-12 wow fadeInUp animated">
                    <button class="btn btn-custom-blue" type="submit">Submit</button>
                </div>
            </div>
        {{ form_end(formMineral, {"method": "POST"}) }}
    </section>
{% endblock %}