{% extends 'admin/baseAdmin.html.twig' %}

{% block body %}
    <div class="container">
        <div>&nbsp;</div>

        {% if animals != [] %}
            {% for animal in animals %}
                <div>
                    <div>
                        <img style="max-width:120px;" class="img-fluid" src="{{ asset(animal.imgPath) }}" alt="{{ animal.name }}">
                    </div>
                    <div>
                        <h2 class="title">{{ animal.name }}</h2>
                        <span>Genus : {{ animal.genus }}</span>
                    </div>
                    <div>
                        <a class="btn btn-success" href="{{ path('adminEditAnimal', {'id':animal.id}) }}"><i class="i-pencil"></i></a>
                        <a class="btn btn-danger" href="{{ path('adminDeleteAnimal', {'id':animal.id}) }}"><i class="i-close"></i></a>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}